:host {
  color: var(--neutral-0);
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;

  .home-not-started-background {
    filter: blur(6px);
    opacity: 0.4;
    user-select: none;
  }

  .home-not-started-button {
    align-items: center;
    background: none;
    border: none;
    color: var(--neutral-0);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: calc(50vh - 20rem);
  }
}
