.flashcard-list-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;

  @media (width < 1000px) {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  @media (width < 800px) {
    grid-template-columns: 1fr;
  }
}
