<header class="header-container">
  <img class="header-logo" src="../../../assets/logo.svg" alt="MeetLogo">
  <div class="header-body">
    <img class="header-body-image-tablet" src="../../../assets/tablet/image-hero.png" alt="Hero-image">
    <img class="header-body-left-desktop" src="../../../assets/desktop/image-hero-left.png" alt="Left-image">
    <div class="header-body-central">
      <h1 class="header-body-title">Group Chat for Everyone</h1>
      <p class="header-body-description">
        Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.
      </p>
      <div class="header-body-buttons">
        <button class="header-body-download-button">Download <span>v1.3</span></button>
        <button class="header-body-what-button">What is it?</button>
      </div>
    </div>
    <img class="header-body-right-desktop" src="../../../assets/desktop/image-hero-right.png" alt="Right-image">
  </div>
</header>
