:host {
  flex: 1;
  height: 100%;
  width: 100%;
}

.body-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 100%;

  .weather-container {
    color: var(--neutral-0);
    display: grid;
    flex: 1;
    gap: 3rem;
    grid-template-areas:
      'detail hourly'
      'daily hourly';
    grid-auto-rows: 2fr 1fr;
    grid-auto-columns: 2fr 1fr;
    height: fit;
    width: 100%;

    @media (width < 1500px) {
      display: flex;
      flex-direction: column;
    }

    app-detail {
      grid-area: detail;
    }

    app-daily {
      grid-area: daily;
    }

    app-hourly {
      grid-area: hourly;
    }
  }

  .loading {
    align-items: center;
    color: var(--neutral-0);
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 50vh;
    padding: 1rem 0.8rem;

    img {
      animation: loading 2s linear infinite;
      width: 6rem;
    }
  }

  .no-result {
    align-items: center;
    color: var(--neutral-0);
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 50vh;
    padding: 1rem 0.8rem;

    img {
      width: 6rem;
    }
  }
}
