<div class="pricing-container">
  <h1 class="pricing-title">Our pricing plans</h1>
  <p class="pricing-decription">
    We only make money when our creators make money. Our plans are always affordable, and
    it’s completely free to get started.
  </p>
  <div class="pricing-plans">
    <div class="free-plan">
      <img src="../../assets/icon-free.svg" alt="Free-icon">
      <h2>{{ 'dip your toe' | capitalize }}</h2>
      <p>Just getting started? No problem at all! Our free plan will take you a long way.</p>
      <h3>Free</h3>
      <ul>
        <li>Unlimited products</li>
        <li>Basic analytics</li>
        <li>Limited marketplace exposure</li>
        <li>10% fee per transaction</li>
      </ul>
    </div>
    <div class="priced-plan">
      <img src="../../assets/icon-paid.svg" alt="Paid-icon">
      <h2>{{ 'dive right in' | capitalize }}</h2>
      <p>Ready for the big time? Our paid plan will help you take your business to the next level.</p>
      <h3>$25.00 /month</h3>
      <ul>
        <li>Custom domain</li>
        <li>Advanced analytics and reports</li>
        <li>High marketplace visibility</li>
        <li>5% fee per transaction</li>
      </ul>
    </div>
  </div>
</div>
