<section class="join-the-club-container">
  <article class="join-the-club-info">
    <h1 class="text-1 join-the-club-title">
      Join the
      <br>
      ultimate tech
      <br>
      book club
    </h1>

    <p class="text-5 join-the-club-description">
      Turn your reading time into learning time with fellow tech
      <br>
      enthusiasts. Get curated recommendations, join vibrant
      <br>
      discussions, and level up your skills one chapter at a time.
    </p>

    <app-button>
      REVIEW MEMBERSHIP OPTIONS
    </app-button>
    <app-avatars/>
  </article>
  <article class="join-the-club-image">
  </article>
</section>
