@use 'variables' as *;

@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue.ttf') format("opentype");
}

body {
  background-color: $creamWhite;
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}
