.cards-container {
   height: 50vh;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   div:nth-child(1) {
      position: relative;
      top: -20px;
   }

   div:nth-child(2) {
      position: relative;
      top: 10px;
   }

   div:nth-child(3) {
      position: relative;
      top: 40px;
   }

   .card {
      width: 400px;
      height: 250px;
      padding: 40px;
      background-color: hsl(300, 43%, 22%);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      color: white;

      img {
         width: 15%;
         height: 25%;
         border-radius: 50%;
         border: 1px solid white;
         margin-right: 30px;
         position: relative;
         top: -5px;
      }

      h2 {
         font-size: 15px;
         width: 50%;

         span {
            color: hsl(333, 80%, 67%);
         }
      }

      p {
         padding: 20px;
         font-size: 13px;
      }
   }
}