
@use 'variables' as variables;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$OfficeliteComingSoon-primary: mat.define-palette(mat.$indigo-palette);
$OfficeliteComingSoon-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$OfficeliteComingSoon-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$OfficeliteComingSoon-theme: mat.define-light-theme((
  color: (
    primary: $OfficeliteComingSoon-primary,
    accent: $OfficeliteComingSoon-accent,
    warn: $OfficeliteComingSoon-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($OfficeliteComingSoon-theme);

@font-face {
  font-family: 'Kumbh Sans';
  src: url('./fonts/KumbhSans.ttf') format("opentype");
}

body {
  font-family: 'Kumbh Sans';
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-select-value {

  padding: 5%;


}

.mdc-list-item__primary-text {

  p {
    color: variables.$black;
    font-weight: bold;

    span {
      color: variables.$almostBlack;
      font-weight: 500;
      opacity: 0.4;
    }
  }
}

.mat-mdc-option.mdc-list-item {
  border-bottom: 1px solid lighten(variables.$grey, 25%);
  margin: 5%;

  &:last-of-type {
    border-bottom: none;
  }
}

.mat-mdc-select-min-line {
  color: variables.$blue;
  font-weight: 500;
}

.mat-mdc-progress-spinner {
  height: 15px !important;
  width: 15px !important;
}
