@use "variables" as *;

button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: $moderateBlue;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;

  &:hover {
    transform: scale(1.05);
  }
}

.comment-buttons-delete-edit {
  display: flex;
  gap: 1.5rem;

  .delete-text {
    color: $softRed;
  }
}
