<div class="skills-container">
  <section class="skill-item">
    <h1 class="skill-title">HTML</h1>
    <p class="skill-description">4 years Experience</p>
  </section>
  <section class="skill-item">
    <h1 class="skill-title">CSS</h1>
    <p class="skill-description">4 years Experience</p>
  </section>
  <section class="skill-item">
    <h1 class="skill-title">Javascript</h1>
    <p class="skill-description">4 years Experience</p>
  </section>
  <section class="skill-item">
    <h1 class="skill-title">Accesibility</h1>
    <p class="skill-description">4 years Experience</p>
  </section>
  <section class="skill-item">
    <h1 class="skill-title">React</h1>
    <p class="skill-description">3 years Experience</p>
  </section>
  <section class="skill-item">
    <h1 class="skill-title">Sass</h1>
    <p class="skill-description">3 years Experience</p>
  </section>
</div>
