@font-face {
  font-family: 'Lexend Deca';
  src: url('./fonts/LexendDeca.ttf') format("opentype");
}

@font-face {
  font-family: 'Big Shoulders Display';
  src: url('./fonts/BigShouldersDisplay.ttf') format("opentype");
}

body {
  margin: 0;
}
