:host {
  animation: pulse 1.25s linear infinite;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 color-mix(in srgb, var(--green-500), transparent 0%);
  }
  100% {
    box-shadow: 0 0 0 32px color-mix(in srgb, var(--green-500), transparent 100%);
  }
}
