.input-password-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: relative;

  label {
    font-weight: 500;
  }

  input {
    background-color: transparent;
    border: 1px solid var(--neutral-300);
    border-radius: 8px;
    padding: 1.3rem;
    transition-duration: 0.25s;
    padding-right: 3rem;

    &.ng-dirty.ng-invalid {
      border: 1px solid var(--red-500);
    }
  }

  note-icon-show {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
    width: 2rem;
  }

  .hint {

    align-items: center;
    display: flex;
    gap: 1rem;

    note-icon-info-circle {
      width: 2rem;
    }
  }

}

@mixin input($label, $input, $placeholder, $hint) {

  label {
    color: $label;
  }

  input {
    color: $input;

    &::placeholder {
      color: $placeholder;
    }
  }

  .hint {
    color: $hint;
  }
}

:host-context(.dark) {
  .input-password-container {
    input {
      &:focus {
        box-shadow: 0 0 0 2px var(--neutral-950), 0 0 0 4px var(--neutral-400);
      }
    }

    @include input(var(--neutral-0), var(--neutral-0), var(--neutral-300), var(--neutral-400));
  }
}

:host-context(.light) {
  .input-password-container {
    input {
      &:focus {
        box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-400);
      }
    }
    @include input(var(--neutral-950), var(--neutral-950), var(--neutral-500), var(--neutral-600));
  }
}
