<div class="product-container">
  <div class="product-image">
    <img [src]="product().image | imageSize" alt="Product">
    @if(!product().quantity) {
      <app-add-cart-button (add)="addProduct()"/>
    } @else {
      <app-add-substract-button [quantity]="product().quantity" (add)="addProduct()" (substract)="substractProduct()"/>
    }
  </div>

  <div class="product-description">
    <p class="text-preset-4">{{ product().category }}</p>
    <p class="text-preset-3">{{ product().name }}</p>
    <p class="text-preset-3 red">{{ product().price | currency }}</p>
  </div>

</div>
