
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans.ttf') format("opentype");
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: hsl(205, 33%, 90%);
}
