.header-container {
  display: flex;
  justify-content: space-between;

  .header-personal-best {
    align-items: center;
    color: var(--neutral-0);
    display: flex;
    gap: 1rem;

    span {
      color: var(--neutral-400);

      @media (width < 700px) {

        &.full-text {
          display: none;
        }
      }

      @media (width >= 700px) {

        &.responsive-text {
          display: none;
        }
      }
    }

    .config-link {
      margin-left: 2rem;
    }
  }
}
