@import 'variables';

.home-2-container {
  align-items: center;
  background-image: url('/images/patterns/pattern-curve-top-right.svg');
  background-position: 0% 50%;
  background-repeat: no-repeat;
  display: flex;
  height: 70rem;
  justify-content: space-between;
  padding: var(--padding);

  @media(width <= $breakpoint1) {
    flex-direction: column;
    gap: 5rem;
    height: 90rem;
    position: relative;
    top: -20rem;
  }

  @media(width <= $breakpoint2) {
    top: -10rem;
  }

  .home-2-image {
    box-shadow: 0px 75px 100px -50px $shadow;
    position: relative;
    top: -10rem;

    @media(width <= $breakpoint1) {
      height: 70%;
      width: 70%;
      top: 0rem;
    }

    @media(width <= $breakpoint2) {
      height: 60%;
      width: 100%;
    }
  }

  .home-2-text {

    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: $ebonyClay;

    @media(width <= $breakpoint1) {
      align-items: center;
      text-align: center;
    }

    img {
      width: 6rem;
    }

    h2 {
      font-size: 4.8rem;
      font-weight: bold;
    }

    p {
      font-size: 2rem;
    }
  }


}
