:host {
  display: contents;
}

.pick-a-category-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  height: 100%;
  padding: 8rem 10rem;

  @media (width < 1200px) {
    padding: 2rem 5rem;
  }

  .pick-a-category-header {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;

    .pick-a-category-title {
      left: 35%;
      position: absolute;
      width: 30%;

      @media (width < 768px) {
        left: 25%;
        width: 50%;
      }
    }

    .back-button {

      @media (width < 1200px) {
        transform: scale(0.9);
      }

      @media (width < 768px) {
        transform: scale(0.75);
      }

      @media (width < 565px) {
        transform: scale(0.5);
      }
    }
  }

  .pick-a-category-categories {
    display: grid;
    gap: 5vw;
    grid-template: 1fr 1fr/1fr 1fr 1fr;

    @media (width < 768px) {
      grid-template: 1fr 1fr 1fr/1fr 1fr;
    }

    @media (width < 565px) {
      gap: 2rem;
      grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
    }

    .categorie-button {
      width: 26vw;

      @media (width < 768px) {
        width: 40vw;
      }

      @media (width < 565px) {
        width: 90vw;
      }
    }
  }
}
