.favorite-button {
  align-items: center;
  background-color: var(--neutral-600);
  border: 1px solid var(--neutral-500);
  border-radius: 8px;
  color: var(--neutral-50);
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem 1.3rem;
  transition-duration: 0.25s;
  transition-property: background, box-shadow;
  width: 14rem;

  .icon {
    bottom: 0.15rem;
    position: relative;
  }

  &.active {
    background-color: var(--lime-500);
    color: var(--neutral-900);
  }

  &:focus {
    box-shadow:
      0 0 0 3px var(--neutral-500),
      0 0 0 5px var(--lime-500);
  }
}
