@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/mixins";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.ttf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("./assets/fonts/RobotoSlab-Bold.ttf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("./assets/fonts/RobotoSlab-Light.ttf") format("opentype");
  font-weight: lighter;
}

html,
body {
  font-size: 16px;
  height: 100vh;
}

p {
  margin: 0;
}
