<div class="dismiss-modal-container">
  <img class="dismiss-modal-image" ngSrc="../../assets/icon-success.svg" height="64" width="64" alt="Success">
  <h1 class="dismiss-modal-title">Thanks for subscribing!</h1>
  <p class="dismiss-modal-description">
    A confirmation email has been sent to ash@loremcompany.com.
    Please open it and click the button inside to confirm your subscription.
  </p>
  <button class="dismiss-modal-mail-button" (click)="onClickDismissMesage()">Dismiss message</button>
</div>
