@import 'variables';

.contact-1-container {
  $padding: var(--padding);

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin: 0 calc($padding*2) calc($padding*2) calc($padding*2);

  .separator {
    background-color: $grayishDarkBlue;
    height: 1px;
    opacity: 0.15;
    width: 100%;
  }

  .contact-1-content {
    display: flex;
    justify-content: space-between;

    @media (width < $breakpoint2) {
      flex-direction: column;
      gap: 2.5rem;

      h2 {
        text-align: left;
      }
    }

    .contact-1-description {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      width: 50%;

      @media (width < $breakpoint2) {
        width: 100%;
      }

      .contact-1-icons {
        align-items: center;
        display: flex;
        gap: 1.6rem;
      }
    }
  }


}
