$darkGray: oklch(70.79% 0 0);
$black: oklch(0% 0 0);
$white: oklch(100% 0 0);
$veryDarkGray: oklch(38.99% 0 0);


$breakpoint1: 1500px;
$breakpoint2: 1225px;
$breakpoint3: 900px;
$breakpoint4: 500px;
