@import 'variables';

:host {
  display: contents;
}

.accordion-container {
  background-color: $snow;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem;

  &:hover {
    background-color: $lightYellow;
    cursor: pointer;
  }

  .accordion-title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h4 {
      color: $darkNavy;
      font-size: 2.4rem;
      font-weight: bold;
    }

    img {

      height: 1.2rem;
      width: 1.8rem;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .accordion-description {
    color: $darkNavy;
    display: none;
    font-size: 1.5rem;
    font-weight: 500;

    &.open {
      display: block;
    }
  }
}
