<section class="average-book-club-container">

  <article class="average-book-club-info">
    <h2 class="text-2">
      Not your average
      <br>
      book <span circle>club</span>
    </h2>
    <p class="text-5 average-book-club-description">
      Connect with a community that speaks your language
      <br>
      - from Python to TypeScript and everything in between. Our
      <br>
      discussions blend technical depth with practical
      <br>
      applications.
    </p>
  </article>

  <article class="average-book-club-image">
  </article>

  <img src="/images/logos-tech.svg" alt="Logo Tech" class="logos-tech">

</section>
