@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
  align-items: center;
  display: flex;
  font-family: 'Hanken Grotesk', sans-serif;
  height: 100vh;
  margin: 0;
  justify-content: center;
}
