@font-face {
  font-family: 'Barlow';
  src: url("./assets/fonts/Barlow.ttf") format("opentype");
}

@font-face {
  font-family: 'Barlow-Black';
  src: url("./assets/fonts/Barlow-Black.ttf") format("opentype");
}

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
}
