<footer class="footer-container">
  <div class="footer-header">
    <img ngSrc="../../../../assets/shared/logo.svg" width="112" height="18" alt="Logo" priority="true" (click)="onClickHome()">
    <div class="footer-icons">
      <img src="../../../../assets/shared/icon-facebook.svg"
           alt="Facebook"
           matTooltip="Facebook info!"
           matTooltipPosition="left">
      <img src="../../../../assets/shared/icon-twitter.svg"
           alt="Twitter"
           matTooltip="Twitter info!"
           matTooltipPosition="above">
      <img src="../../../../assets/shared/icon-pinterest.svg"
           alt="Pinterest"
           matTooltip="Pinterest info!"
           matTooltipPosition="above">
      <img src="../../../../assets/shared/icon-instagram.svg"
           alt="Instagram"
           matTooltip="Instagram info!"
           matTooltipPosition="after">
    </div>
  </div>
  <div class="footer-line">
  </div>
  <div class="footer-lists">
    <ul>
      <li>OUR COMPANY</li>
      <li (click)="onClickWork()">HOW WE WORK</li>
      <li>WHY INSURE?</li>
      <li (click)="onClickPlans()">VIEW PLANS</li>
      <li>REVIEWS</li>
    </ul>
    <ul>
      <li>HELP ME</li>
      <li>FAQ</li>
      <li>TERMS OF USE</li>
      <li>PRIVACY POLICY</li>
      <li>COOKIES</li>
    </ul>
    <ul>
      <li>CONTACT</li>
      <li>SALES</li>
      <li>SUPPORT</li>
      <li>LIVE CHAT</li>
    </ul>
    <ul>
      <li>OTHERS</li>
      <li>CAREERS</li>
      <li>PRESS</li>
      <li>LICENSES</li>
    </ul>
  </div>

</footer>
