.statistic-item-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 7rem 3.5rem 3.5rem 3.5rem;
  position: relative;

  @media(width < 1250px) {
    align-items: center;
    padding: 10rem 3.5rem 7.5rem 3.5rem;
    text-align: center;
  }

  img {
    background-color: var(--dark-violet);
    border-radius: 50%;
    padding: 2.5rem;
    position: absolute;
    top: -4.5rem;

    @media(width < 1250px) {
      width: 9rem;
      left: calc(50% - 4.5rem);
    }
  }

  h3 {
    color: var(--dark-gray);
    font-size: 2.2rem;
    font-weight: bold;
  }

  span {
    color: var(--grayish-violet);
    font-size: 1.5rem;
  }
}
