:host {
  display: flex;
  justify-content: center;
}

button {
  background: none;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 1rem;
  width: 70%;

  &:hover {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-900);
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 var(--neutral-900);
  }
}

[ngMenuTrigger] {
  display: flex;
  cursor: pointer;
  align-items: center;
}

[ngMenu] {
  margin: 0;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-900);
  background-color: var(--neutral-0);
}

[ngMenu][data-visible='false'] {
  display: none;
}

[ngMenuItem] {
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;

  &:first-of-type {
    border-bottom: 1px solid var(--neutral-900);
  }
}

[ngMenuTrigger]:hover,
[ngMenuItem][data-active='true'] {
  background: color-mix(in srgb, var(--neutral-900) 10%, transparent);
}

[ngMenuItem]:focus,
[ngMenuTrigger]:focus {
  outline: 2px solid var(--pink-400);
}

[ngMenuItem] .label {
  flex: 1;
  opacity: 0.875;
}
  
[ngMenuItem]:not([aria-expanded='true']) .arrow {
  opacity: 0.5;
}
