:host {
  background-color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  padding: 3rem 10rem;

  .main-container {
    height: calc(100% - 6rem);
  }
}
