:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4rem var(--padding);

  @media (width < 1250px) {
    flex-direction: column-reverse;
  }

  .home-1-title {
    color: var(--slate-700);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;

    @media (width < 1250px) {
      text-align: center;
      width: 100%;
    }

    h1 {
      margin-bottom: 3rem;
    }

    span {
      color: var(--slate-500);
      a {
        color: var(--slate-500);
        font-weight: bold;
      }
    }
  }
}
