.sixth-section-container {
  height: 60vh;
  display: flex;

  @media(max-width: 900px) {
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .logo {
    width: calc(25%);

    @media(max-width: 900px) {
      width: 100%;
    }
  }
}
