<div class="left-container">
  <h1 class="title">Make <br> remote work</h1>
  <h4>Get your team in sync, no matter your location. <br> Streamline processes,
    create team rituals, and <br> watch productivity soar.
  </h4>
  <button class="learn-button">Learn more</button>
  <div class="footer">
    <img src="../../../assets/client-databiz.svg" alt="Databiz">
    <img src="../../../assets/client-audiophile.svg" alt="Audiophile">
    <img src="../../../assets/client-meet.svg" alt="Meet">
    <img src="../../../assets/client-maker.svg" alt="Maker">
  </div>
</div>
