.home-menu-container {
  border-bottom: 1px solid var(--neutral-700);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 0 1.5rem 0;

  .home-menu-item {
    align-items: center;
    color: var(--neutral-400);
    display: flex;
    gap: 1rem;

    h2 {
      color: var(--neutral-0);
    }

    .accuracy-errors {
      color: var(--red-500);
    }

    .timer-on {
      color: var(--yellow-400);
    }
  }
}
