.home-menu-container {
  border-bottom: 1px solid var(--neutral-700);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 0 1.5rem 0;

  @media (width < 1300px) {
    flex-direction: column;
    gap: 2rem;
  }

  .home-menu-bloc {
    display: flex;
    gap: 2rem;

    @media (width < 700px) {
      justify-content: space-between;
    }

    .separator {
      border: 1px solid var(--neutral-700);
    }

    .home-menu-item {
      align-items: center;
      color: var(--neutral-400);
      display: flex;
      gap: 1rem;

      @media (width < 700px) {
        flex-direction: column;
      }

      h2 {
        color: var(--neutral-0);
      }

      .accuracy-errors {
        color: var(--red-500);
      }

      .timer-on {
        color: var(--yellow-400);
      }
    }
  }
}
