<menu class="home-menu-container">
  <li class="home-menu-item">
    <span class="text-3-r">WPM:</span>
    <h2 class="text-2">40</h2>
  </li>
  <li class="home-menu-item">
    <span class="text-3-r">Accuracy:</span>
    <h2 class="text-2">{{ accuracy() | percent: '2.0-0' }}</h2>
  </li>
  <li class="home-menu-item">
    <span class="text-3-r">Time:</span>
    <h2 class="text-2">0:46</h2>
  </li>
  <li></li>
  <li></li>
  <li class="home-menu-item">
    <span class="text-3-r">Difficulty:</span>
    <button-select [active]="easy()" (click)="setDifficulty('easy')">Easy</button-select>
    <button-select [active]="medium()" (click)="setDifficulty('medium')">Medium</button-select>
    <button-select [active]="hard()" (click)="setDifficulty('hard')">Hard</button-select>
  </li>
  <li class="home-menu-item">
    <span class="text-3-r">Mode:</span>
    <button-select [active]="timed()" (click)="setMode('timed')">Timed(60s)</button-select>
    <button-select [active]="passage()" (click)="setMode('passage')">Passage</button-select>
  </li>
</menu>
