@import 'variables';

button {
  align-items: center;
  background-color: $lime;
  border: none;
  border-radius: 40px;
  color: $slate-900;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  gap: 1.2rem;
  padding: 1.6rem 4rem;

  &:hover {
    background-color: lighten($lime, 15);
  }

  &:active {
    transform: translate(1px, 1px);
  }
}
