.dialog-delete-container {
  color: var(--neutral-900);
  display: flex;
  flex-direction: column;

  hgroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.4rem 2.4rem 1rem 2.4rem;
  }

  .dialog-delete-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 1rem 2.4rem 2.4rem 2.4rem;
  }
}
