<div class="actions-container">
  <div class="action">
    <img ngSrc="../../../assets/icon-eating.svg" width="64" height="64" alt="Eating">
    <div class="action-description">
      <h1>Healthy eating</h1>
      <p>
        Healthy eating promotes weight control, disease prevention, better digestion,
        immunity, mental clarity, and mood.
      </p>
    </div>
  </div>
  <div class="action">
    <img src="../../../assets/icon-exercise.svg" width="64" height="64" alt="Exercise">
    <div class="action-description">
      <h1>Regular exercise</h1>
      <p>
        Exercise improves fitness, aids weight control, elevates mood, and reduces disease
        risk, fostering wellness and longevity.
      </p>
    </div>
  </div>
  <div class="action">
    <img src="../../../assets/icon-sleep.svg" width="64" height="64" alt="Sleep">
    <div class="action-description">
      <h1>Adequate sleep</h1>
      <p>
        Sleep enhances mental clarity, emotional stability, and physical wellness, promoting
        overall restoration and rejuvenation.
      </p>
    </div>
  </div>
</div>
