@import 'variables.scss';

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('./assets/fonts/BarlowSemiCondensed.ttf') format("opentype");
}

body {
  background-color: $lightGrayishBlue;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
}
