@import './assets/variables.scss';

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik.ttf') format("opentype");
}

body {
  background-color: $pageBackground;
  color: $fontColor;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  app-root {
    display: flex;
    gap: 30px;
  }
}
