// Primary
$slightlyDesaturatedCyan: #5FB4A2;
$darkBlue: #203A4C;
$grayishDarkBlue: #33323D;


// Secondary
$veryLightGrey: #FAFAFA;
$lightGrey: #EAEAEB;
$brightRed: #F43030;


$white: #FFFFFF;


$breakpoint1: 1200px;
$breakpoint2: 750px;
$breakpoint3: 400px;
