button {

  border: none;
  border-radius: 8px;
  color: var(--neutral-0);
  padding: 1.2rem 1.6rem;
  transition-duration: 0.25s;
  width: 100%;

  &.blue {
    background-color: var(--blue-500);

    &:hover {
      background-color: var(--blue-700);
    }
  }

  &.red {
    background-color: var(--red-500);

    &:hover {
      background-color: var(--red-700);
    }
  }



  &:focus {
    box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-400);
    outline: none;
  }

  &:disabled {
    background-color: var(--neutral-100);
    color: var(--neutral-300);
    cursor: not-allowed;
  }
}
