@import 'variables.scss';

.fylo-main-container {
  align-items: center;
  background-color: $veryDarkBlue;
  background-image: url('../assets/bg-desktop.png');
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  height: 100vh;
  justify-content: center;

  @media(max-width: 1600px) {
    background-size: 1600px;
  }

  .fylo-secondary-container {
    align-items: flex-end;
    display: flex;
    gap: 20px;

    @media(max-width: $mobile) {
      flex-direction: column;
    }
  }

}
