<div class="vr-container">
  <img class="vr-image" src="assets/desktop/image-interactive.jpg" alt="Interactive">
  <section class="vr-information">
    <h1 class="vr-title">THE LEADER IN INTERACTIVE VR</h1>
    <p class="vr-description">
      Founded in 2011, Loopstudios has been producing world-class virtual reality
      projects for some of the best companies around the globe. Our award-winning
      creations have transformed businesses through digital experiences that bind
      to their brand.
    </p>
  </section>
</div>
