<div class="history-tab-header">
  <ul class="history-conversion-list">
    <li class="history-conversion-item">
      <span class="text-4 history-conversion-item-title">OPEN</span>
      <span class="text-2">{{ rateHistory().open | number: '1.4-4' }}</span>
    </li>
    <li class="history-conversion-item">
      <span class="text-4 history-conversion-item-title">LAST</span>
      <span class="text-2">{{ rateHistory().last | number: '1.4-4' }}</span>
    </li>
    @let changeSymbol = rateHistory().change < 0 ? '' : '+';
    <li class="history-conversion-item">
      <span class="text-4 history-conversion-item-title">CHANGE</span>
      <span
        class="text-2 history-conversion-item-change"
        [class.decrease]="rateHistory().change < 0"
        >{{ changeSymbol }}{{ rateHistory().change | number: '1.4-4' }}</span
      >
    </li>
    @let changePercentageSymbol = rateHistory().change < 0 ? '▼ ' : '▲ +';
    <li class="history-conversion-item">
      <span class="text-4 history-conversion-item-title">% CHANGE</span>
      <span
        class="text-2 history-conversion-item-change"
        [class.decrease]="rateHistory().percentageChange < 0"
        >{{ changePercentageSymbol }}{{ rateHistory().percentageChange | number: '1.2-2' }}%</span
      >
    </li>
  </ul>
  <div class="history-conversion-options-list">
    <ul class="history-conversion-options">
      <li>
        @for (period of periodOptions; track $index) {
          <button
            class="text-5 history-conversion-options-item"
            [class.active]="periodSelected() === period"
            (click)="periodSelected.set(period)"
          >
            {{ period }}
          </button>
        }
      </li>
    </ul>
    <ul class="history-conversion-options">
      <li>
        @for (chart of chartOptions; track $index) {
          <button
            class="text-5 history-conversion-options-item"
            [class.active]="chartSelected() === chart"
            (click)="chartSelected.set(chart)"
          >
            {{ chart | uppercase }}
          </button>
        }
      </li>
    </ul>
  </div>
</div>

@if (changeRateResource.isLoading()) {
  <div class="history-no-data">
    <h2 class="text-2">No chart data available</h2>
    <span class="text-3">
      We couldn't load rate history for USD/EUR right now. This usually clears up in a minute.
    </span>
  </div>
} @else {
  <foreign-history-chart [historyData]="changeRateResource.value()" [chartType]="chartSelected()" />
}
