:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;

  @media (width < 800px) {
    align-items: center;
  }

  .history-tab-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media (width < 1500px) {
      align-items: flex-start;
      flex-direction: column;
      gap: 1.5rem;
    }

    @media (width < 800px) {
      align-items: center;
    }

    .history-conversion-list {
      display: flex;
      gap: 1.5rem;
      list-style: none;

      @media (width < 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .history-conversion-item {
        background-color: var(--neutral-700);
        border: 1px solid var(--neutral-600);
        border-radius: 16px;
        color: var(--neutral-50);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.2rem 2rem;
        min-width: 14rem;

        .history-conversion-item-title {
          color: var(--neutral-50);
          opacity: 0.7;
        }

        .history-conversion-item-change {
          color: var(--green-500);

          &.decrease {
            color: var(--red-500);
          }
        }
      }
    }

    .history-conversion-options-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @media (width < 800px) {
        align-items: center;
      }

      .history-conversion-options {
        background-color: var(--neutral-700);
        align-items: center;
        border-radius: 8px;
        display: flex;
        height: fit-content;
        list-style: none;
        margin: 0;
        padding: 0;
        width: fit-content;

        .history-conversion-options-item {
          background-color: transparent;
          border: none;
          color: var(--neutral-200);
          opacity: 0.75;
          padding: 1.4rem 1.6rem;
          transition-duration: 0.25s;

          &.active {
            background-color: var(--neutral-500);
            border-radius: 8px;
            color: var(--neutral-50);
            opacity: 1;
          }
        }
      }
    }
  }
}

.history-no-data {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  padding: 4rem 0;

  h2 {
    color: var(--neutral-100);
  }

  span {
    color: var(--neutral-200);
  }
}
