<div class="projects-container">
  <header class="project-header">
    <h1 class="projects-title">Projects</h1>
    <h2 class="projects-contact">CONTACT ME</h2>
  </header>
  <div class="project-list">
    <div class="project-item">
      <div class="project-content">
        <div class="project-buttons">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
      <div class="project-subtitle">
        <h2>DESIGN PORTFOLIO</h2>
        <div class="project-skills">
          <h2>HTML</h2>
          <h2>CSS</h2>
        </div>
        <div class="project-buttons-2">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
    </div>

    <div class="project-item">
      <div class="project-content">
        <div class="project-buttons">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
      <div class="project-subtitle">
        <h2>E-LEARNING LANDING PAGE</h2>
        <div class="project-skills">
          <h2>HTML</h2>
          <h2>CSS</h2>
        </div>
        <div class="project-buttons-2">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
    </div>

    <div class="project-item">
      <div class="project-content">
        <div class="project-buttons">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
      <div class="project-subtitle">
        <h2>TODO WEB APP</h2>
        <div class="project-skills">
          <h2>HTML</h2>
          <h2>CSS</h2>
          <h2>JAVASCRIPT</h2>
        </div>
        <div class="project-buttons-2">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
    </div>

    <div class="project-item">
      <div class="project-content">
        <div class="project-buttons">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
      <div class="project-subtitle">
        <h2>ENTERTAINMENT WEB APP</h2>
        <div class="project-skills">
          <h2>HTML</h2>
          <h2>CSS</h2>
          <h2>JAVASCRIPT</h2>
        </div>
        <div class="project-buttons-2">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
    </div>

    <div class="project-item">
      <div class="project-content">
        <div class="project-buttons">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
      <div class="project-subtitle">
        <h2>MEMORY GAME</h2>
        <div class="project-skills">
          <h2>HTML</h2>
          <h2>CSS</h2>
          <h2>JAVASCRIPT</h2>
        </div>
        <div class="project-buttons-2">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
    </div>

    <div class="project-item">
      <div class="project-content">
        <div class="project-buttons">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
      <div class="project-subtitle">
        <h2>ART GALLERY SHOWCASE</h2>
        <div class="project-skills">
          <h2>HTML</h2>
          <h2>CSS</h2>
          <h2>JAVASCRIPT</h2>
        </div>
        <div class="project-buttons-2">
          <h2>VIEW PROJECT</h2>
          <h2>VIEW CODE</h2>
        </div>
      </div>
    </div>
  </div>
</div>
