<nav class="menu-bar-container">
  <ul>
    <li>
      <a routerLink="all-notes">
        <note-icon-home />
      </a>
      <span class="text-6">Home</span>
    </li>
    <li>
      <a routerLink="search/''" >
        <note-icon-search />
      </a>

      <span class="text-6">Search</span>
    </li>
    <li>
      <a routerLink="archived-notes">
        <note-icon-archive />
      </a>

      <span class="text-6">Archived</span>
    </li>
    <li>
      <a routerLink="tags/''">
        <note-icon-tag />
      </a>

      <span class="text-6">Tags</span>
    </li>
    <li>
      <a routerLink="settings">
        <note-icon-settings />
      </a>

      <span class="text-6">Settings</span>
    </li>
  </ul>
</nav>
