<header class="header-container">
  <div class="header-logo"></div>
  <nav class="header-navigation">
    <ul>
      <li>
        <a routerLink="home">HOME</a>
      </li>
      <li>
        <a routerLink="about-us">ABOUT US</a>
      </li>
      <li>
        <a routerLink="create-your-plan" >CREATE YOUR PLAN</a>
      </li>
    </ul>
  </nav>
  <button class="hamburger-button" (click)="onClickMenu()">
    <img src="assets/shared/mobile/icon-hamburger.svg" alt="Open Menu">
  </button>
</header>
