:host {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-900);
  border-radius: 999px;
  box-shadow: 1px 1px 0 0 var(--neutral-900);
  color: var(--neutral-900);
  padding: 0.6rem 1.2rem;
  white-space: nowrap;
  width: fit-content;
}
