@import 'variables';

.input-text-container {
  display: flex;
  flex-direction: column;
  font-family: 'PublicSans';
  font-size: 1.3rem;
  gap: 1rem;

  label {
    font-weight: bold;
    opacity: 0.8;
  }

  textarea {
    background-color: rgb(51 50 61 / 0.1);
    border: none;
    padding: 1rem 1.5rem;

    &::placeholder {
      opacity: 0.4;
    }

    &.ng-invalid.ng-dirty {
      border: 1px solid $brightRed;
      outline: none;
    }
  }

  .error {
    color: $brightRed;
    font-weight: bold;
  }
}
