@use '_variables.scss' as *;

:host {
  height: 100%;
}

@mixin archived-notes($background, $border) {
  .all-notes-container,
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar-container {
      background-color: $background;
      border-radius: 0;
      border-right: 1px solid $border;
      width: 20%;

      @media(width <= $breakpoint-lg) {
        width: 100%;
      }
    }

    .main-container {
      background-color: $background;
    }
  }
}

:host-context(.dark) {
  @include archived-notes(var(--neutral-950), var(--neutral-800));
}

:host-context(.light) {
  @include archived-notes(var(--neutral-0), var(--neutral-200));
}
