<div class="footer-container">
  <div class="footer-book">
    <div class="book-main">
      <h1>Book a call with me</h1>
      <p>
        I’d love to have a chat to see how I can help you. The best first step is for us to discuss your project during a
        free consultation. Then we can move forward from there.
      </p>
    </div>
    <button>Free Consultation</button>
  </div>
  <div class="footer-icons">
    <img ngSrc="../../../assets/logo.svg" width="64" height="64" alt="Logo">
    <button class="header-button" app-button>Free Consultation</button>
  </div>
</div>
