<div class="limitations-container">
  <div class="limitation-description">
    <h1>Limitations of BMI</h1>
    <p>
      Although BMI is often a practical indicator of healthy weight, it is not suited for
      every person. Specific groups should carefully consider their BMI outcomes, and in
      certain cases, the measurement may not be beneficial to use.
    </p>
  </div>
  <div class="limitation-gender">
    <h2><img ngSrc="../../../assets/icon-gender.svg" width="40" height="40" alt="Gender">Gender</h2>
    <p>
      The development and body fat composition of girls and boys vary with age. Consequently,
      a child's age and gender are considered when evaluating their BMI.
    </p>
  </div>
  <div class="limitation-line">
    <img ngSrc="../../../assets/pattern-curved-line-right.svg" width="80" height="100" alt="Line">
  </div>
  <div class="limitation-age">
    <h2><img ngSrc="../../../assets/icon-age.svg" width="40" height="40" alt="Age">Age</h2>
    <p>
      In aging individuals, increased body fat and muscle loss may cause BMI to underestimate
      body fat content.
    </p>
  </div>
  <div class="limitation-muscle">
    <h2><img ngSrc="../../../assets/icon-muscle.svg" width="40" height="40" alt="Muscle">Muscle</h2>
    <p>
      BMI may misclassify muscular individuals as overweight or obese, as it doesn't
      differentiate muscle from fat.
    </p>
  </div>
  <div class="limitation-pregnancy">
    <h2><img ngSrc="../../../assets/icon-pregnancy.svg" width="40" height="40" alt="Pregnancy">Pregnancy</h2>
    <p>
      Expectant mothers experience weight gain due to their growing baby. Maintaining a
      healthy pre-pregnancy BMI is advisable to minimise health risks for both mother
      and child.
    </p>
  </div>
  <div class="limitation-race">
    <h2><img ngSrc="../../../assets/icon-race.svg" width="40" height="40" alt="Race">Race</h2>
    <p>
      Certain health concerns may affect individuals of some Black and Asian origins at
      lower BMIs than others. To learn more, it is advised to discuss this with your
      GP or practice nurse.
    </p>
  </div>
</div>
