<app-page-template>
  <app-header/>
  <div class="features">

    <app-feature>
      <div class="feature-text" left>
        <h1>Grow Together</h1>
        <p>
          Generate meaningful discussions with your audience and build a strong, loyal community.
          Think of the insightful conversations you miss out on with a feedback form.
        </p>
      </div>
      <img class="feature-image" src="../assets/illustration-grow-together.svg" alt="Grow" right>
    </app-feature>

    <app-feature>
      <div class="feature-text" right>
        <h1>Flowing Conversations</h1>
        <p>
          You wouldn't paginate a conversation in real life, so why do it online?
          Our threads have just-in-time loading for a more natural flow.
        </p>
      </div>
      <img class="feature-image" src="../assets/illustration-flowing-conversation.svg" alt="Grow" left>
    </app-feature>

    <app-feature>
      <div class="feature-text" left>
        <h1>Your Users</h1>
        <p>
          It takes no time at all to integrate Huddle with your app's authentication solution.
          This means, once signed in to your app, your users can start chatting immediately.
        </p>
      </div>
      <img class="feature-image" src="../assets/illustration-your-users.svg" alt="Grow" right>
    </app-feature>

  </div>

</app-page-template>
<app-footer/>
