@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf') format("opentype");
}

@font-face {
  font-family: 'Lexen-Deca';
  src: url('./fonts/LexendDeca.ttf') format("opentype");
}

body {
  margin: 0;
}
