@use 'variables' as *;

.password-body-container {
  background-color: $darkGrey;
  padding: 2rem;
  width: 34rem;

  .password-form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .error {
    color: $red;
    padding-top: 1rem;
  }
}
