<section class="password-body-container">
  <form [formGroup]="formGroup" class="password-form-container" (ngSubmit)="onSubmit()">
    <app-stepper formControlName="lengthControl"/>
    <app-checkbox formControlName="uppercaseControl" label="Include Uppercase Letters"/>
    <app-checkbox formControlName="lowercaseControl" label="Include Lowercase Letters"/>
    <app-checkbox formControlName="numbersControl" label="Include Numbers"/>
    <app-checkbox formControlName="symbolsControl" label="Include Symbols"/>
    <app-strenght/>
    <app-generate [enabled]="formGroup.valid"/>
  </form>
  @if(!formGroup.valid) {
    <p class="error"> {{ formGroup.errors | error }}</p>
  }
</section>
