<section class="portfolio-index-4-container">
  <div class="portfolio-index-4-text">
    <div class="separator"></div>
    <h2>Fylo</h2>
    <p class="body-text-1">
      This project was built in pure HTML and CSS.
      I had mobile and desktop designs to work to and built it so that it was fully-responsive.
      I took a mobile-first approach and used modern CSS like Flexbox and Grid for layout purposes.
    </p>
    <app-button type="secondary" [routerLink]="'../fylo'">VIEW PROJECT</app-button>
    <div class="separator"></div>
  </div>
  <div class="portfolio-index-4-profile"></div>
</section>
