:host {
  align-items: center;
  background-color: var(--teal-400);
  border: 1px solid var(--neutral-900);
  border-radius: 999px;
  box-shadow: 1px 1px 0 0 var(--neutral-900);
  color: var(--neutral-900);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1.2rem;
  width: fit-content;
}
