<section class="home-presentation-container">
  <h2 class="home-presentation-title">Great coffee made simple.</h2>
  <p class="home-presentation-description">
    Start your mornings with the world’s best coffees.
    Try our expertly curated artisan coffees from our best roasters delivered directly to your door, at your schedule.
  </p>
  <button class="home-presentation-button"
          title="Navigate to create your plan"
          (click)="onClickCreatePlan()">
          Create your plan
  </button>
</section>
