@use 'variables' as *;

:host {
  height: 55rem;

  @media(max-width: $breakpoint2) {
    height: fit-content;
  }
}

.winning-container {
  align-items: center;
  background: linear-gradient(to right, transparent 40%, $red 40%);
  display: flex;
  height: 70rem;
  justify-content: space-around;
  padding: var(--page-padding);
  position: relative;
  top: -15rem;

  @media(max-width: $breakpoint2) {
    background: $red;
    flex-direction: column;
    gap: 3rem;
    height: fit-content;
    padding: 3rem 0;
    top: 0;
  }

  .winning-title {
    color: $textBlack;
    font-size: 3.5rem;
    font-weight: 800;
    width: 34rem;

    @media(max-width: $breakpoint1) {
      width: 25rem;
    }

    @media(max-width: $breakpoint2) {
      font-size: 1.75rem;
      color: $white;
      text-align: center;
      width: 90%;
    }
  }

  .winning-list {
    color: $white;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    height: 100%;
    justify-content: center;
    width: 25rem;

    @media(max-width: $breakpoint2) {
      width: 90%;
    }

    li {

      display: flex;
      flex-direction: column;
      position: relative;

      @media(max-width: $breakpoint2) {
        gap: 1rem;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 800;
      }

      p {
        line-height: 2rem;
      }

      @for $i from 1 through 3 {

        &:nth-child(#{$i}) {
          &:before {
            content: '0#{$i}';
            display: block;
            font-weight: 800;
            font-size: 5.5rem;
            left: -4.5rem;
            opacity: 0.25;
            position: absolute;
            top: -4.5rem;
            width: fit-content;

            @media(max-width: $breakpoint2) {

              left: 0;
              top: -4rem;
            }
          }
        }
      }
    }
  }
}
