:host {
  &.espace {
    opacity: 0;
  }
}

.play-letter-container {
  background-color: var(--blue);
  box-shadow: inset 0 -2px 0 3px #140E66, inset 0 1px 0 6px #3C74FF;
  border-radius: 40px;
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 1.1rem 4rem;
  width: 10rem;

  &.disabled {
    background-color: color-mix(in srgb, var(--blue), transparent 35%);
    box-shadow:
      inset 0 -2px 0 3px color-mix(in srgb, #140E66, transparent 35%),
      inset 0 1px 0 6px color-mix(in srgb, #3C74FF, transparent 35%);
    p {
      opacity: 0;
    }
  }
}
