<section class="portfolio-index-3-container">
  <div class="portfolio-index-3-profile"></div>
  <div class="portfolio-index-3-text">
    <div class="separator"></div>
    <h2>Insure</h2>
    <p class="body-text-1">
      This was a small project which mostly consisted of HTML and CSS.
      I built a fully-responsive landing page.
      The only JavaScript this project required was to enable the toggling of the mobile navigation.
    </p>
    <app-button type="secondary" [routerLink]="'../insure'">VIEW PROJECT</app-button>
    <div class="separator"></div>
  </div>
</section>
