.button-primary {
  align-items: center;
  background-color: var(--orange-400);
  border: none;
  border-radius: 999px;
  color: var(--neutral-900);
  display: flex;
  gap: 1rem;
  padding: 1.2rem 2rem;
  transition-duration: 0.25s;

  &:focus {
    box-shadow:
      0 0 0 2px var(--neutral-900),
      0 0 0 4px var(--orange-400);
  }
}

:host.no-icon {
  background: transparent;
  border: none;

  &:focus,
  &:active {
    background: transparent;
    border: none;
  }

  app-icon-filter {
    display: none;
  }

  .button-primary {
    justify-content: center;
    width: 100%;
  }
}
