$darkGrey: oklch(26.11% 0.017 290.28);
$grey: oklch(60.04% 0.032 294.15);
$almostWhite: oklch(92.41% 0.007 295.44);
$veryDarkGrey: oklch(20.95% 0.016 290.7);
$neonGreen: oklch(92.29% 0.139 147.26);
$red: oklch(65.49% 0.209 25.04);
$orange: oklch(72.62% 0.164 36.7);
$yellow: oklch(86.57% 0.131 86.94);


$tablet: 700px;
$mobileBig: 500px;
$mobileSmall: 410px;
$mobileVerySmall: 275px;
