@mixin blog($text, $description, $border) {
  .blog-title {
    color: $text;
    margin-bottom: 3rem;
    position: relative;
    width: fit-content;
    z-index: 0;

    &::after {
      background-color: var(--blue-500);
      bottom: 10px;
      content: "";
      display: block;
      height: 3px;
      left: 105%;
      position: absolute;
      width: 4rem;
      z-index: -1;
    }
  }

  .blog-subtitle {
    color: $description;
  }

  .articles-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    list-style: none;
    padding: 0;

    .article-item {
      display: inherit;
      flex-direction: column;
      gap: 1rem;

      .article-title {
        background: none;
        border: none;
        color: $text;
        text-align: left;
        width: fit-content;

        &:hover {
          transform: translateX(10px) scale(1.05);
        }
      }

      .article-date {
        color: $description;
        font-style: italic;
      }
    }

    .article-description {
      color: $description;
    }
  }

  .blog-separator {
    color: $border;
    opacity: 1;
  }
}

:host-context(.light) {
  @include blog(var(--neutral-700), var(--neutral-600), var(--neutral-200));
}

:host-context(.dark) {
  @include blog(var(--neutral-0), var(--neutral-400), var(--neutral-700));
}
