:host {
    display: contents;
}

.button-container {
    background-color: var(--orange-500);
    border: none;
    padding: 1.5rem;
    transition-duration: 0.25s;
    width: 100%;

    &:hover {
      background-color: var(--orange-700);
      box-shadow: 0px 4px 0px 0px var(--orange-500);
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px var(--neutral-900), 0px 0px 0px 3px var(--neutral-0);
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;

      @media(width < 500px) {
        opacity: 1;
      }
    }
}
