.setting-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--neutral-800);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 0px 2px var(--neutral-0);
}
.bar {
  width: 50%;
  height: 2px;
  background-color: var(--neutral-0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 2px;
}
.bar::before {
  content: '';
  width: 2px;
  height: 2px;
  background-color: var(--neutral-800);
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--neutral-0);
  transition: all 0.3s;
}
.bar1::before {
  transform: translateX(-4px);
}
.bar2::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar1::before {
  transform: translateX(4px);
}
.setting-btn:hover .bar2::before {
  transform: translateX(-4px);
}
