@use "variables" as *;

@mixin container($title-color, $section-color, $quantity-color) {
  .overview-today-container {
    .overview-today-title {
      color: $title-color;
      font-size: 24px;
      font-weight: bold;
    }

    .card-container {
      display: flex;
      flex-direction: column;
      font-family: "Inter";
      gap: 50px;
      padding: 0 15px;

      .header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        p {
          color: $section-color;
          font-size: 14px;
          font-weight: bold;
          margin: 0;
        }
      }

      .body {
        align-items: center;
        display: flex;
        justify-content: space-between;

        p {
          color: $quantity-color;
          font-size: 32px;
          font-weight: bold;
        }

        .card-percentage {
          align-items: center;
          display: flex;
          gap: 5px;

          img {
            height: 4px;
            width: 8px;
          }

          h6 {
            font-size: 12px;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }
  }
}

:host-context(.light-mode) {
  @include container($darkGrayishBlue, $darkGrayishBlue, $veryDarkBlue);
}

:host-context(.dark-mode) {
  @include container($white, $desaturatedBlue, $white);
}
