<div class="creations-container">
  <section class="title-container">
    <h1 class="title">OUR CREATIONS</h1>
    <button class="see-button">SEE ALL</button>
  </section>
  <section class="images-container">
    <div class="image-deep-earth">
      <img src="assets/desktop/image-deep-earth.jpg" alt="Deep-Earth">
      <img src="assets/mobile/image-deep-earth.jpg" alt="Deep-Earth">
      <h2>DEEP EARTH</h2>
    </div>

    <div class="image-night-arcade">
      <img src="assets/desktop/image-night-arcade.jpg" alt="Night-Arcade">
      <img src="assets/mobile/image-night-arcade.jpg" alt="Night-Arcade">
      <h2>NIGHT ARCADE</h2>
    </div>

    <div class="image-soccer-team">
      <img src="assets/desktop/image-soccer-team.jpg" alt="Soccer-Team">
      <img src="assets/mobile/image-soccer-team.jpg" alt="Soccer-Team">
      <h2>SOCCER TEAM VR</h2>
    </div>

    <div class="image-grid">
      <img src="assets/desktop/image-grid.jpg" alt="Grid">
      <img src="assets/mobile/image-grid.jpg" alt="Grid">
      <h2>THE GRID</h2>
    </div>

    <div class="image-from-above">
      <img src="assets/desktop/image-from-above.jpg" alt="From-Above">
      <img src="assets/mobile/image-from-above.jpg" alt="From-Above">
      <h2>FROM UP ABOVE VR</h2>
    </div>

    <div class="image-pocket-borealis">
      <img src="assets/desktop/image-pocket-borealis.jpg" alt="Pocket-Borealis">
      <img src="assets/mobile/image-pocket-borealis.jpg" alt="Pocket-Borealis">
      <h2>POCKET BOREALIS</h2>
    </div>

    <div class="image-curiosity">
      <img src="assets/desktop/image-curiosity.jpg" alt="Curiosity">
      <img src="assets/mobile/image-curiosity.jpg" alt="Curiosity">
      <h2>THE CURIOSITY</h2>
    </div>

    <div class="image-fisheye">
      <img src="assets/desktop/image-fisheye.jpg" alt="Fisheye">
      <img src="assets/mobile/image-fisheye.jpg" alt="Fisheye">
      <h2>MAKE IT FISHEYE</h2>
    </div>
    <button class="see-button-2">SEE ALL</button>
  </section>
</div>
