@import 'src/assets/variables.scss';

%see-button {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-family: $fontJosefin;
  font-weight: bold;
  height: 40px;
  padding: 10px 50px;
  transition-duration: 1s;

  &:hover {
    background-color: #000;
    cursor: pointer;
    color: #fff;
    transform: scale(1.05);
  }
}

.creations-container {

  font-family: $fontJosefin;
  padding: 0 15% 5% 15%;

  .title-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    @media(max-width: $desktop) {
      justify-content: center;
    }

    .title {
      font-size: 30px;
    }

    .see-button {

      @extend %see-button;

      @media(max-width: $desktop) {
        display: none;
      }
    }
  }

  .images-container {
    display: grid;
    grid-template-columns: 26% 26% 26% 26%;

    @media(max-width: $desktop) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    %image-content {

      img:nth-child(1) {
        height: 98%;
        position: relative;
        width: 95%;

        @media(max-width:$desktop) {
          display: none;
        }
      }

      img:nth-child(2) {

        display: none;

        @media(max-width:$desktop) {
          display: block;
          width: 100%;
        }
      }

      h2 {
        bottom: 13vh;
        color: #fff;
        font-size: 30px;
        font-weight: normal;
        left: 2vw;
        position: relative;
        width: 50%;

        @media(max-width:$desktop) {
          margin-bottom: 0;
        }
      }

      &:hover {

        cursor: pointer;

        img {
          opacity: 0.5;
          transition-duration: 0.5s;
        }

        h2 {
          color: #000;
          transition-duration: 0.5s;
        }
      }
    }

    .image-deep-earth {
      @extend %image-content;
    }

    .image-night-arcade {
      @extend %image-content;
    }

    .image-soccer-team {
      @extend %image-content;
    }

    .image-grid {
      @extend %image-content;
    }

    .image-from-above {
      @extend %image-content;
    }

    .image-pocket-borealis {
      @extend %image-content;
    }

    .image-curiosity {
      @extend %image-content;
    }

    .image-fisheye {
      @extend %image-content;
    }

    .see-button-2 {
      @extend %see-button;
      width: 30%;

      display: none;

      @media(max-width:$desktop) {
        display: block;
        width: 180px;
      }
    }
  }

}
