.contact-about-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @media (width < 1000px) {
    align-items: center;
  }

  .h2 {
    color: var(--light-coral);
  }

  .about-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;

    .about-item {
      align-items: center;
      display: flex;
      gap: 2rem;
    }
  }
}
