
@use 'variables' as *;

@mixin facebook-icon($iconColor, $iconHoverColor) {
  .facebook-icon-wrapper {
    border: 1px solid $iconColor;
    border-radius: 50%;
    width: fit-content;
    padding: 5px 8px 8px 8px;

    svg {
      fill: $iconColor;
    }

    &:hover {
      border: 1px solid $iconHoverColor;
      cursor: pointer;

      svg {
        fill: $iconHoverColor;
      }
    }
  }
}



:host-context(.dark) {

  @include facebook-icon($darkIcon, $darkIconHover);

}

:host-context(.light) {

  @include facebook-icon($lightIcon, $lightIconHover);

}
