:host {
  justify-content: center;
}

.dialog-container {
  background-color: var(--blue-100);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;

  .dialog-close-button {
    background: none;
    border: none;
    align-self: flex-end;
  }

  .dialog-title {
    color: var(--neutral-900);
  }
}
