<section class="card-container">
    <img src="./../../../assets/images/illustration-article.svg" alt="Article">
    <div class="card-info">
        <p class="card-label">Learning</p>
        <p class="card-date">Published {{ todayDate }}</p>
        <h2 class="card-title">HTML & CSS foundations</h2>
        <p class="card-description">
            These languages are the backbone of every website, defining structure, content, and presentation.
        </p>
    </div>
    <div class="card-profile">
        <img src="../../../assets/images/image-avatar.webp" alt="Avatar">
        <p>Greg Hooper</p>
    </div>
</section>