:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 9rem var(--padding);

  @media (width < 1250px) {
    flex-direction: column;
    gap: 4rem;
  }

  @media (width < 750px) {
    payapi-input-mail {
      width: 100%;
    }
  }

  strong {
    color: var(--slate-700);
  }
}
