@use 'variables' as variables;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans.ttf') format("opentype");
}

body {
  background-color: variables.$lightCream;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
}
