<div class="header-container">
  <header class="header-header">
    <h2 class="header-logo">adamykeyes</h2>
    <div class="header-icons">
      <span class="github-icon"></span>
      <span class="frontend-icon"></span>
      <span class="linkedin-icon"></span>
      <span class="twitter-icon"></span>
    </div>
  </header>
  <div class="header-body">
    <h1 class="header-title">Nice to meet you! I'm <span>Adam Keyes</span>.</h1>
    <p class="header-description">
      Based in the UK, I'm a front-end developer passionate about
      building accessible web apps that users love.
    </p>
    <h2 class="header-contact">Contact me</h2>
  </div>
</div>
