<main class="search-container">
  <note-page-header />

  <mat-drawer-container class="main-container">
    <mat-drawer mode="side" [opened]="opened()" class="sidebar-container">
      <h1 class="text-1">Search</h1>
      <note-input-search
        [formControl]="searchControl"
        class="header-search"
        placeholder="Search by title, content, or tags…"
      />
      <note-sidebar-notes [notesList]="notesList()" />
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
</main>
