@use "_variables.scss" as *;

:host {
  height: 100%;
}

@mixin search($background, $border, $title) {
  .search-container,
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar-container {
      background-color: $background;
      border-radius: 0;
      border-right: 1px solid $border;
      width: 20%;

      @media (width <= $breakpoint-lg) {
        padding: 2rem 3rem;
        width: 100%;

        h1 {
          color: $title;
          font-weight: bold;
          margin-bottom: 2rem;
        }
      }

      @media (width > $breakpoint-lg) {
        h1, note-input-search {
          display: none;
        }


      }
    }

    .main-container {
      background-color: $background;
    }
  }
}

:host-context(.dark) {
  @include search(var(--neutral-950), var(--neutral-800), var(--neutral-0));
}

:host-context(.light) {
  @include search(var(--neutral-0), var(--neutral-200), var(--neutral-950));
}
