@use 'variables' as *;

.app-container {
  background-image: url('../assets/bg-pattern-top-desktop.svg'), url('../assets/bg-pattern-bottom-desktop.svg');
  background-position: 0% 0%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
  margin: 0;
  padding: 5% 10%;

  @media(min-width: $lg) and (max-width: 1100px) {
    padding: 2%;
  }

  @media(max-width: $lg) {
    padding: 10%;
    text-align: center;
  }

  @media(max-width: $sm) {
    padding: 2%;
  }

  app-title, app-reviews, app-profiles {
    height: 50%;
    @media(max-width: $lg) {
      height: fit-content;
    }
  }
}

.app-container-placeholder {

  background-image: url('../assets/bg-pattern-top-desktop.svg'), url('../assets/bg-pattern-bottom-desktop.svg');
  background-position: 0% 0%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
  text-align: center;

  .app-title-placeholder {
    animation: fadePlaceholder ease 5s;
    font-size: 56px;
    font-weight: bold;
    background:
    linear-gradient( 140deg, oklch(69.02% .277 332.77) 0%,
    oklch(69.02% .277 332.77) 15%,
    color-mix(in srgb, oklch(69.02% .277 332.77),
                        oklch(53.18% .28 296.97) 50%) 25%,
    color-mix(in srgb, oklch(69.02% .277 332.77), oklch(53.18% .28 296.97) 10%) 35%,
    color-mix(in srgb, oklch(69.02% .277 332.77), oklch(63.32% .24 31.68) 50%) 42%,
    color-mix(in srgb, oklch(69.02% .277 332.77), oklch(63.32% .24 31.68) 50%) 44%,
    color-mix(in srgb, oklch(69.02% .277 332.77), white 70%) 47%,
    oklch(53.18% .28 296.97) 48%,
    oklch(51.01% .274 263.83) 60%);

    color: transparent;
    background-clip: text;
  }

  img {
    animation: fadePlaceholder ease 5s;
  }
}


@keyframes fadePlaceholder {
  0% {
      opacity: 0;
      background-size: 200% 100%;
      background-position: 100% 0%;
  }
  50% {
      opacity: 1;
      background-size: 220% 100%;
      background-position: 0% 0%;
  }
  100% {
    opacity: 0;
    background-size: 200% 100%;
    background-position: 100% 0%;
  }
}
