<section class="password-container">
  <button class="sidebar-button text-4" (click)="onClickMenu()">
    <note-icon-arrow/>
     Settings
  </button>
  <h2 class="text-3">Change Password</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <note-input-password
      label="Old Password"
      placeholder=""
      formControlName="old"
      [id]="id"
    />
    <note-input-password
      label="New Password"
      placeholder=""
      formControlName="new"
      [id]="id + 1"
      hint="At least 8 characters"
    />
    <note-input-password
      label="Confirm New Password"
      placeholder=""
      formControlName="confirm"
      [id]="id + 2"
    />
    <note-primary-button type="submit" [disabled]="!form.valid"
      >Save Password</note-primary-button
    >
  </form>
</section>
