@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

.popover {
   border: none !important;
   border-radius: 20px !important;

   .popover-body {
      background-color: hsl(217, 19%, 35%);
      border-radius: 20px;
      width: 350px;
      box-shadow: -9px 8px 20px 1px hsl(217, 19%, 35%);
   }

   .popover-container {
      display: flex;
      justify-content: space-around;
      font-family: 'Manrope', sans-serif;

      h1 {
         font-size: 20px;
         color: hsl(212, 23%, 69%);
         position: relative;
         top: 4px;
      }

      img {
         width: 30px;
         height: 30px;
         cursor: pointer;
      }
   }
}

.bs-popover-top > .popover-arrow::after {
   border-top-color: hsl(217, 19%, 35%) !important;
}