<section class="ticket-generator-container">
    <h1 class="text-1 ticket-generator-title">
        {{ title() }}
    </h1>
    <p class="text-4 ticket-generator-description">
        Secure your spot at next year’s biggest coding conference.
    </p>
    <form [formGroup]="formGroup" class="form-container" (ngSubmit)="submit()">
        <app-input-text label="Full Name" formControlName="fullName"/>
        <app-input-text label="Email Address" formControlName="email"/>
        <app-input-text label="GitHub Username" formControlName="github"/>
        <app-button type="submit">{{ 'Generate my ticket' | titlecase }}</app-button>
    </form>
</section>