$lightBlue: oklch(74.27% 0.118 190.72);
$blueShadow: oklch(57.92% 0.097 190.28);
$lighBlueHover: oklch(85.96% 0.116 191.79);
$lightYellow: oklch(80.17% 0.15 78.53);
$yellowShadow: oklch(68.53% 0.141 74.74);
$lightYellowHover: oklch(86.24% 0.13571193300124942 81.14769909159698);
$darkNavy: oklch(27.5% 0.027 233.74);
$semiDarkNavy: oklch(31.89% 0.035 229.92);
$silver: oklch(79.04% 0.029 225.8);
$silverHover: oklch(92.27% 0.015 222.69);
$silverShadow: oklch(61.21% 0.04 228.08);
$boxShadow: oklch(23.74% 0.029 232.88);


// Responsive
$tablet: 550px;
$mobile: 400px;
