@import 'assets/variables.scss';

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans.ttf') format("opentype");
}

body {
  background-color: $cream;
  display: flex;
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
}
