.app-container {

   height: 96vh;
   font-family: 'Poppins', sans-serif;
   display: flex;

   @media(max-width: 1099.98px) {
      flex-direction: column;
      align-items: center;

      .text-container {
         width: 80vw;
      }
   } 
   
   @media(min-width: 1100px) {
      .text-container {
         width: 28vw;
      }
   }

   .text-container {
      color: white;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10vw;

      h1 {
         font-size: 45px;
      }
   }

   .card-container {
      width: 62vw;
      height: 100%;
   }
}

