<footer class="footer-container">

  <div class="footer-content-1">
    <app-logo fill="#FFFFFF"/>

    <div class="footer-icons">
      <app-facebook-icon/>
      <app-youtube-icon/>
      <app-twitter-icon/>
      <app-pinterest-icon/>
      <app-instagram-icon/>
    </div>

  </div>

  <ul class="footer-content-2">
    <li>About Us</li>
    <li>Careers</li>
    <li>Contact</li>
    <li>Support</li>
    <li>Blog</li>
    <li>Privacy Policy</li>
  </ul>

  <div class="footer-content-3">
    <app-button>Request Invite</app-button>
    <p>
      © Easybank. All Rights Reserved
    </p>
  </div>

</footer>
