<section class="modal-content">
  <img class="icon-confirmed" src="images/icon-order-confirmed.svg" alt="Icon Order Confirmed">
  <p class="text-preset-1">Order Confirmed</p>
  <p class="text-preset-4">We hope you enjoy your food!</p>
  <div class="product-list">
    @for(product of cartProducts(); track $index) {
      <div class="product-item">
        <div class="product-description">
          <img [src]="product.image.thumbnail" [alt]="'Product' + product.name">
          <div class="product-name-quantity">
            <p class="text-preset-4-bold rose-900">{{ product.name }}</p>
            <div class="product-quantity"><span class="red text-preset-4-bold">{{ product.quantity }}x </span> <p class="text-preset-4">&#x40; {{ product.price | currency }}</p></div>
          </div>
        </div>
        @let totalPrice = product.quantity * product.price;
        <p class="text-preset-3">{{ totalPrice | currency }}</p>
      </div>
      <div class="separator"></div>
    }
    <div class="cart-total">
      <p class="text-preset-4">Order Total</p>
      <p class="text-preset-2"> {{ total() | currency}} </p>
    </div>
  </div>

  <button class="start-order-button" title="Start New Order" (click)="startOrder()">
    <p class="text-preset-3 white">Start New Order</p>
  </button>

</section>
