@font-face {
  font-family: 'Sora-Bold';
  src: url('/fonts/Sora/static/Sora-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Sora-SemiBold';
  src: url('/fonts/Sora/static/Sora-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Sora-Regular';
  src: url('/fonts/Sora/static/Sora-Regular.ttf') format('opentype');
}

:root {
  --neutral-900: #121212;
  --neutral-800: #262626;
  --neutral-700: #3a3a3a;
  --neutral-500: #717178;
  --neutral-400: #949497;
  --neutral-0: #ffffff;

  --blue-600: #177dff;
  --blue-400: #4ca6ff;

  --red-500: #d64d5b;

  --green-500: #4dd67b;

  --yellow-400: #f4dc73;
}

.text-1-b {
  font-family: 'Sora-Bold';
  font-size: 4rem;
  letter-spacing: 0.04rem;
  line-height: 136%;
}

.text-1-r {
  font-family: 'Sora-Regular';
  font-size: 4rem;
  letter-spacing: 0.04rem;
  line-height: 136%;
}

.text-2 {
  font-family: 'Sora-Bold';
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 100%;
}

.text-3-r {
  font-family: 'Sora-Regular';
  font-size: 2rem;
  letter-spacing: -0.06rem;
  line-height: 120%;
}

.text-3-semi-b {
  font-family: 'Sora-SemiBold';
  font-size: 2rem;
  letter-spacing: -0.03rem;
  line-height: 120%;
}

.text-4 {
  font-family: 'Sora-Regular';
  font-size: 1.8rem;
  letter-spacing: -0.06rem;
  line-height: 120%;
}

.text-5 {
  font-family: 'Sora-Regular';
  font-size: 1.6rem;
  letter-spacing: -0.048rem;
  line-height: 120%;
}

.text-6 {
  font-family: 'Sora-Regular';
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 120%;
}
