@import 'variables';

.write-your-content-container {
  background-color: $yellow500;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  padding: 2.4rem;

  @media(width < $breakpoint1) {

    gap: 2.4rem;

    br {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  @media(width < $breakpoint2) {
    br {
      display: none;
    }
  }

  img {
    width: 22rem;
  }
}
