$backgroundColor: hsl(273, 75%, 66%);

.app-container {
   height: 100vh;
   background-color: $backgroundColor;
   font-family: 'Kumbh Sans', sans-serif;

   display: flex;
   justify-content: center;
   align-items: center;

   .box-image {
      position: absolute;
      left: calc(100vw/2 - 1130px/2);
      top: 45vh;
      z-index: 1;

      @media (max-width: 1000px) {
         left: calc(100vw/2 - 500px/2);
         top: 16vh;
      }
   }
}