:host {
  background-color: var(--neutral-700);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;

  .rate-change-title {
    color: var(--neutral-50);
  }

  .rate-change-body {
    .rate-change-body-main {
      align-items: center;
      display: flex;
      gap: 2.4rem;
      justify-content: space-between;

      @media (width < 1000px) {
        flex-direction: column;
      }

      .exchange-rates {
        background: none;
        border: 1px solid var(--neutral-500);
        border-radius: 8px;
        padding: 1.5rem;

        @media (width < 1000px) {
          foreign-icon-exchange {
            display: none;
          }
        }

        @media (width >= 1000px) {
          foreign-icon-exchange-vertical {
            display: none;
          }
        }
      }
    }
  }

  .rate-change-footer {
    align-items: center;
    border-top: 1px dashed var(--neutral-500);
    display: flex;
    padding: 2rem 2rem 0;

    @media(width < 800px) {
      flex-direction: column;
      gap: 2rem;
    }

    .rate-change-conversion-rate {
      color: var(--neutral-50);
      flex: 1;
    }

    .rate-change-footer-buttons {
      align-items: center;
      display: flex;
      gap: 1.2rem;
    }
  }
}
