<main class="tags-container">
  <note-page-header />

  @if(tag() != "''") {
  <mat-drawer-container class="main-container">
    <h1 class="text-1">Notes Tagged: {{ tag() }}</h1>
    <mat-drawer mode="side" [opened]="opened()" class="sidebar-container">
      <note-sidebar-notes [notesList]="notesList()" />
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
  } @else {
  <div class="tags-container-responsive">
    <h1 class="text-1">Tags</h1>
    @for (tag of tags(); track $index) {
    <button class="button-tag" [routerLink]="['../', tag]">
      <div class="icon-tag">
        <note-icon-tag />
        <p class="text-4">{{ tag }}</p>
      </div>
      <note-icon-arrow />
    </button>
    <hr class="tag-separator" />
    }
  </div>
  }
</main>
