$darkGrey: oklch(35.76% 0.029 206.2);
$mediumGrey: oklch(69.2% 0.031 204.43);
$pureWhite: oklch(100% 0 0);
$green: oklch(52.81% 0.096 175.93);
$darkGreen: oklch(33.06% 0.057 177.14);
$lightGreen: oklch(94.3% 0.022 163.05);
$red: oklch(60.39% 0.183 24.43);


$breakpoint1: 1150px;
$breakpoint2: 800px;
$breakpoint3: 630px;
$breakpoint4: 450px;
