:host {
  color: var(--neutral-0);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .config-option {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .config-buttons {
    float: right;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
  }
}
