<footer>
  <ul>
    <li>
      <p class="footer-item-title">ROTATION TIME</p>
      <p class="footer-item-data">{{ planet().rotation }}</p>
    </li>
    <li>
      <p class="footer-item-title">REVOLUTION TIME</p>
      <p class="footer-item-data">{{ planet().revolution }}</p>
    </li>
    <li>
      <p class="footer-item-title">RADIUS</p>
      <p class="footer-item-data">{{ planet().radius }}</p>
    </li>
    <li>
      <p class="footer-item-title">AVERAGE TEMP.</p>
      <p class="footer-item-data">{{ planet().temperature }}</p>
    </li>
  </ul>
</footer>
