<section class="getting-started-container">
    <div class="getting-started-info">
        <h2>
            All your files in one secure location, accessible anywhere.
        </h2>
        <p>
            Fylo stores your most important files in one secure location.
            Access them wherever you need, share and collaborate with friends, family, and co-workers.
        </p>
        <app-input/>
    </div>
    <img class="getting-started-image" src="../../../assets/images/illustration-1.svg" alt="Get-started">
</section>