@use 'variables' as *;

.getting-started-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 5rem;

    .getting-started-info {
        color: $darkBlue;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;

        h2 {
            font-family: 'Raleway';
            font-size: 2.5rem;
            font-weight: bold;
        }

        p {
            font-family: 'OpenSans';
            font-weight: 400;
        }
    }

    .getting-started-image {
        width: 100%;
    }

}