@use 'variables' as *;

.getting-started-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 5rem;

    .getting-started-info {
        color: $darkBlue;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;

        h2 {
            font-family: 'Raleway';
            font-size: 2.5rem;
            font-weight: bold;
        }

        p {
            font-family: 'OpenSans';
            font-weight: 400;
        }
    }

    .getting-started-image {
        width: 100%;
    }

    @media (max-width: $tablet) {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
      text-align: center;
      padding: 2rem;

      .getting-started-image {
        width: 50%;
      }

      .getting-started-info {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }

    @media (max-width: $mobile) {
      .getting-started-image {
        width: 100%;
      }
    }

}
