$pink: oklch(70.78% 0.23353146088925492 345.78912609814216);
$veryPaleCyan: oklch(97.63% 0.017834376631929046 216.1017078758185);
$veryDarkCyan: oklch(24.32% 0.0438142239933334 218.44000942170504);
$grayishBlue: oklch(63.68% 0.024 244.55);
$white: oklch(100% 0 0);
$dropShadow: oklch(92.49% 0 0);
$grey: oklch(59.99% 0 0);


$tablet: 900px;
$mobile: 600px;
