$black: oklch(19.13% 0 0);
$darkGrey: oklch(23.93% 0 0);
$white: oklch(100% 0 0);
$neonGreen: oklch(91.06% 0.217 124.03);
$grey: oklch(32.11% 0 0);


$responsive1: 400px;
$responsive2: 300px;
$responsive3: 200px;
