<section class="careers-offers-container">

  <div class="careers-offers-item">
    <div class="careers-offers-description">
      <h4>
        {{ 'careers.careers-offers.offer-1' | translate }}
      </h4>
      <p>Jakarta, Indonesia</p>
    </div>
    <app-button>
      {{ 'careers.careers-offers.button' | translate }}
    </app-button>
  </div>

  <div class="careers-offers-item">
    <div class="careers-offers-description">
      <h4>
        {{ 'careers.careers-offers.offer-2' | translate }}
      </h4>
      <p>Yokohama, Japan</p>
    </div>
    <app-button>
      {{ 'careers.careers-offers.button' | translate }}
    </app-button>
  </div>

  <div class="careers-offers-item">
    <div class="careers-offers-description">
      <h4>
        {{ 'careers.careers-offers.offer-3' | translate }}
      </h4>
      <p>New York, United States</p>
    </div>
    <app-button>
      {{ 'careers.careers-offers.button' | translate }}
    </app-button>
  </div>

  <div class="careers-offers-item">
    <div class="careers-offers-description">
      <h4>
        {{ 'careers.careers-offers.offer-4' | translate }}
      </h4>
      <p>New York, United States</p>
    </div>
    <app-button>
      {{ 'careers.careers-offers.button' | translate }}
    </app-button>
  </div>

  <div class="careers-offers-item">
    <div class="careers-offers-description">
      <h4>
        {{ 'careers.careers-offers.offer-5' | translate }}
      </h4>
      <p>Jakarta, Indonesia</p>
    </div>
    <app-button>
      {{ 'careers.careers-offers.button' | translate }}
    </app-button>
  </div>

  <div class="careers-offers-item">
    <div class="careers-offers-description">
      <h4>
        {{ 'careers.careers-offers.offer-6' | translate }}
      </h4>
      <p>London, United Kingdom</p>
    </div>
    <app-button>
      {{ 'careers.careers-offers.button' | translate }}
    </app-button>
  </div>

</section>
