@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import './../node_modules/ngx-ui-switch/ui-switch.component.scss';
@import './assets/variables.scss';

body {
  height: 100vh;
  margin: 0;
  font-family: 'Manrope', sans-serif;

  .ngx-slider {
    width: 80%;

    .ngx-slider-bar {
      background: $softCyan;
      height: 8px;
      top: 14px;
    }

    .ngx-slider-limit,
    .ngx-slider-bubble {
      display: none;
    }

    .ngx-slider-active::after {
      background-color: $strongCyan !important;
    }

    .ngx-slider-pointer {
      background: $strongCyan;
      border-radius: 20px;
      box-shadow: 0px 0px 8px 5px $softCyan;
      height: 40px;
      top: -20px;
      width: 40px;

      &::after {
        background: none;
        background-image: url('./assets/icon-slider.svg');
        height: 11px;
        left: 9px;
        top: 14px;
        width: 22px;
      }

      &:hover::after {
        background-color: $strongCyan;
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  .switch-small {
    width: 40px;

    small {
      height: 15px !important;
      top: 2.5px;
      width: 15px !important;
      right: calc(100% - 18px) !important;
    }

    &.checked small {
      right: calc(100% - 37px) !important;
    }
  }
}
