.select {
  align-items: center;
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-900);
  border-radius: 999px;
  display: flex;
  gap: 1rem;
  padding-right: 1.6rem;
  position: relative;
}

.select:has([ngComboboxInput][aria-disabled='true']) {
  cursor: default;
  opacity: 0.6;
}

[ngComboboxInput] {
  border-radius: 999px;
  cursor: pointer;
  height: 6rem;
  opacity: 0;
  width: 15rem;
}

.selected-label-text {
  width: 13rem;
}

.combobox-label {
  display: flex;
  gap: 1rem;
  left: 1rem;
  padding-left: 1.6rem;
  position: absolute;
  pointer-events: none;
}
.popup-container {
  background-color: var(--neutral-0);
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-900);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  max-height: 50rem;
  opacity: 1;
  transition: max-height 350ms ease-out, visibility 0s, opacity 25ms ease-out;
  visibility: visible;
  justify-content: center;
}
[ngListbox] {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
[ngCombobox]:has([ngComboboxInput][aria-expanded='false']) .popup-container {
  max-height: 0;
  opacity: 0;
  transition: max-height 150ms ease-in, visibility 0s 150ms, opacity 150ms ease-in;
  visibility: hidden;
}
[ngCombobox]:has([ngComboboxInput][aria-expanded='true']) [ngListbox] {
  display: flex;
}
[ngOption] {
  border-bottom: 1px solid var(--neutral-900);
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 1.6rem;

  &:last-of-type {
    border-bottom: none;
  }
}

[ngOption]:not([aria-selected='true']) .option-check,
[ngOption]:not([aria-selected='true']) .option-icon-check {
  display: none;
}

[ngOption]:not([aria-selected='false']) .option-icon-no-check {
  display: none;
}

.total-category {
  color: var(--neutral-600);
}
