@font-face {
  font-family: 'Fraunces';
  src: url('../assets/fonts/Fraunces.ttf') format("opentype");
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat.ttf') format("opentype");
}

$darkCyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$montserrat: 'Montserrat', sans-serif;
$fraunces: 'Fraunces', serif;
