@use 'variables' as *;

.menu-button {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 1rem;
  width: fit-content;

  @media(max-width: $tablet) {
    transform: scale(0.8);
  }

  @media(max-width: $mobile) {
    transform: scale(0.5);
    padding: 0;
  }


  &:hover {
    background-color: $var600;
    cursor: pointer;
  }



}
