$veryLightGray: oklch(98.48% 0 0);
$veryLightGrayishBlue: oklch(92.42% 0.017 282.79);
$lightGrayishBlue: oklch(86.76% 0.011 280.13);

$veryDarkBlue: oklch(20.95% 0.021 280.33);
$veryDarkDesaturatedBlue: oklch(28.02% 0.039 279.54);
$lightGrayishBlue: oklch(85.38% 0.037 280.55);
$lightGrayishBluehover: oklch(92.42% 0.017 282.79);
$darkGrayishBlue: oklch(58.53% 0.037 280.19);
$veryDarkGrayishBlue: oklch(35.47% 0.031 282.36);

$blue: oklch(61.54% 0.204 261.96);

$white: oklch(100% 0 0);
$dark: oklch(0% 0 0);

$checkBg: linear-gradient(oklch(83.68% 0.125 217), oklch(65.55% 0.231 312.67));
$checkBgHover: linear-gradient(oklch(65.55% 0.231 312.67), oklch(83.68% 0.125 217));


$breakpoint1: 700px;
$breakpoint2: 450px;
