<section class="testimonies-container">
  <div class="testimony">
    <p>
      Fylo has improved our team productivity by an order of magnitude.
      Since making the switch our team has become a well-oiled collaboration machine.
    </p>

    <div class="testimony-profile">
      <img src="../../../assets/profile-1.jpg" alt="Profile-1">
      <p>
        Satish Patel
        <br>
        <span>
          Founder & CEO, Huddle
        </span>
      </p>
    </div>

  </div>
  <div class="testimony">
    <p>
      Fylo has improved our team productivity by an order of magnitude.
      Since making the switch our team has become a well-oiled collaboration machine.
    </p>

    <div class="testimony-profile">
      <img src="../../../assets/profile-2.jpg" alt="Profile-2">
      <p>
        Bruce McKenzie
        <br>
        <span>
          Founder & CEO, Huddle
        </span>
      </p>
    </div>
  </div>


  <div class="testimony">
    <p>
      Fylo has improved our team productivity by an order of magnitude.
      Since making the switch our team has become a well-oiled collaboration machine.
    </p>

    <div class="testimony-profile">
      <img src="../../../assets/profile-3.jpg" alt="Profile-3">
      <p>
        Iva Boyd
        <br>
        <span>
          Founder & CEO, Huddle
        </span>
      </p>
    </div>
  </div>
</section>
