<section class="simple-bookmark-manager-container">
  <div class="simple-bookmark-manager-info">
    <h1 class="simple-bookmark-manager-title">
      A Simple Bookmark <br> Manager
    </h1>
    <p class="simple-bookmark-manager-description">
      A clean and simple interface to organize your favourite websites.
      <br>
      Open a new browser tab and see your sites load instantly. Try it
      <br>
      for free.
    </p>
    <div class="simple-bookmark-manager-buttons">
      <app-button type="blue">Get it on Chrome</app-button>
      <app-button type="grey">Get it on Firefox</app-button>
    </div>
  </div>
  <img src="/images/illustration-hero.svg" alt="Hero">
  <!-- <app-hero/> -->
</section>
