<div class="header-container">
  <div class="header-menu">
    <img class="header-menu-logo" src="../../../assets/logo-light.svg" alt="Logo">
    <h2 class="header-menu-access">Apply for access</h2>
  </div>
  <div class="header-description">
    <h1 class="header-title">Data <span class="underlined">tailored</span> to your needs</h1>
    <button class="header-button">Learn More</button>
  </div>
  <img class="header-hero-logo" src="../../../assets/image-hero.webp" alt="Hero">
</div>
<img class="pattern-1" src="../../../assets/bg-pattern-1.svg" alt="Pattern-1">
<img class="pattern-2" src="../../../assets/bg-pattern-2.svg" alt="Pattern-1">
