<section class="about-faqs-container">
  <h2>FAQs</h2>

  <div class="about-faqs-block">

    <h3>{{ 'about.about-faqs.works.title' | translate }}</h3>

    <div class="about-faqs-list">
      <app-accordion
        [title]="'about.about-faqs.works.faq-1.title' | translate"
        [description]="'about.about-faqs.works.faq-1.description' | translate"/>
      <app-accordion
      [title]="'about.about-faqs.works.faq-2.title' | translate"
      [description]="'about.about-faqs.works.faq-2.description' | translate"/>
      <app-accordion
      [title]="'about.about-faqs.works.faq-3.title' | translate"
      [description]="'about.about-faqs.works.faq-3.description' | translate"/>
    </div>

  </div>

  <div class="about-faqs-block">

    <h3>{{ 'about.about-faqs.driving.title' | translate }}</h3>

    <div class="about-faqs-list">
      <app-accordion
        [title]="'about.about-faqs.driving.faq-1.title' | translate"
        [description]="'about.about-faqs.driving.faq-1.description' | translate"/>
      <app-accordion
      [title]="'about.about-faqs.driving.faq-2.title' | translate"
      [description]="'about.about-faqs.driving.faq-2.description' | translate"/>
      <app-accordion
      [title]="'about.about-faqs.driving.faq-3.title' | translate"
      [description]="'about.about-faqs.driving.faq-3.description' | translate"/>
    </div>
  </div>

  <div class="about-faqs-block">

  </div>


</section>
