@import 'variables';

.about-faqs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 0 15rem;

  @media (max-width: $breakpoint1) {
    padding: 0 10rem;
  }

  @media (max-width: $breakpoint2) {
    padding: 0 5rem;
  }

  h2 {
    color: $darkNavy;
    font-size: 4.5rem;
    font-weight: bold;
  }

  .about-faqs-block {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media(max-width: $breakpoint2) {
      align-items: center;
      flex-direction: column;
      gap: 2rem;
    }

    h3 {
      color: $darkNavy;
      font-size: 4rem;
      font-weight: bold;
    }

    .about-faqs-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 50%;

      @media(max-width: $breakpoint2) {
        width: 100%;
      }
    }
  }
}
