@use 'variables' as *;

.input-document-container {
  align-items: center;
  display: flex;
  gap: 1.5rem;

  img {
    height: 1rem;
    width: 0.9rem;

    &:hover {
      cursor: pointer;
    }
  }

  .input-document {
    display: flex;
    flex-direction: column;

    label {
      color: $var400;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
      }

      @media(max-width: $mobile) {
        display: none;
      }
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid $var100;
      color: $var100;
      height: 2rem;
      text-overflow: ellipsis;
      width: 8rem;

      &:focus {
        outline: none;
      }
    }

    p {
      color: $var100;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      width: 8rem;
      overflow: hidden;
    }
  }
}
