@use 'variables' as *;

.input-document-container {
  align-items: center;
  display: flex;
  gap: 1rem;

  img {
    height: 1rem;
    width: 0.9rem;
  }

  .input-document {
    display: flex;
    flex-direction: column;

    label {
      color: $var400;
      font-size: 0.8rem;
    }

    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid $var100;
      color: $var100;
      height: 2rem;

      &:focus {
        outline: none;
      }
    }
  }
}
