@use 'variables' as *;

.checkbox-container {
  align-items: center;
  display: flex;
  gap: 1.5rem;

  input {

    height: 1.25rem;
    width: 1.25rem;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      accent-color: $neonGreen;
    }

    &:not(:checked) {
      border: 2px solid $almostWhite;
      appearance: none;
    }
  }

  label {
    color: $almostWhite;

    &:hover {
      cursor: pointer;
    }
  }
}
