button {
  align-items: center;
  background-color: var(--neutral-0);
  border-radius: 999px;
  color: var(--neutral-900);
  display: flex;
  gap: 0.8rem;
  padding: 1.2rem 2rem;
  transition-duration: 0.25s;

  &:focus {
    box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--blue-600);
  }

  &:hover {
    background-color: transparent;
  }
}
