@use 'variables' as *;

.password-header-container {
  align-items: center;
  background-color: $darkGrey;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 34rem;

  .password-generated {
    color: $almostWhite;
    font-size: 2rem;
  }

  img {
    height: 1.5rem;
    width: 1.3125rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
