@font-face {
  font-family: 'Commissioner';
  src: url('./assets/fonts/Commissioner.ttf') format("opentype");
}

body {
  margin: 0;
  cursor: url('./assets/cursor-pointer.png'), auto;
  font-family: 'Commissioner', sans-serif;

  a {
    text-decoration: none;
  }
}

.tooltip.show {
  opacity: 1 !important;
}

.tooltip-arrow {
  display: none !important;
}

.tooltip-inner {
  background-color: white !important;
  color: black !important;
  opacity: 1 !important;
  display: flex;
  flex-direction: column;
  padding: 15px !important;
  text-align: left !important;
  position: relative;
  right: 20px;
  pointer-events: all;

  a {
    color: black;

    &:hover {
      font-weight: 500;
      color: black;
      cursor: url('./assets/cursor-pointer.png'), auto !important;
    }
  }
}

