<section class="early-access-container">
  <h2>Get early access today</h2>
  <p>
    It only takes a minute to sign up and our free starter tier is extremely
    generous. If you have any questions, our support team would be happy to help
    you.
  </p>

  <div class="early-access-email">
    <input
      type="text"
      placeholder="email@example.com"
      [formControl]="emailControl"
      [class.error]="emailControl.invalid"
      email
    />
    <app-button (click)="sendEmail()" [disabled]="emailControl.invalid">Get Started for Free</app-button>
  </div>
  @if(emailControl.invalid) {
    <p class="error-mail">*email not valid!</p>
  }

</section>
