$darkGrey: oklch(44.17% 0.017 248.2);
$lightGrey: oklch(92% 0 0);
$grey: oklch(73.32% 0.018 231.01);
$green: oklch(71.29% 0.123 179.14);
$buttonPrimary: oklch(71.29% 0.123 179.14);
$shadowPrimary: oklch(59.14% 0.101 179.22);
$buttonSecondary: oklch(61.93% 0.2056033986935198 272.9969275526777);
$shadowSecondary: oklch(52.03% 0.267 267.87);
$white: oklch(100% 0 0);


$responsive: 950px;
