<div class="plans-container">

  <div class="plan">
    <h6>Basic</h6>
    <h3>Free</h3>
    <h5>Up to 5 users for free</h5>
    <p>Basic document collaboration</p>
    <p>2 gb storage</p>
    <p>Great security and support</p>
    <button (click)="onClickButton()">Try for Free</button>
  </div>

  <div class="plan">
    <h6>Pro</h6>
    <h3>$9.99</h3>
    <h5>Per user, billed monthly</h5>
    <p>All essential integrations</p>
    <p>50 gb storage</p>
    <p>More control and insights</p>
    <button (click)="onClickButton()">Try for Free</button>
  </div>

  <div class="plan">
    <h6>Ultimate</h6>
    <h3>$19.99</h3>
    <h5>Per user, billed monthly</h5>
    <p>Robust work management</p>
    <p>100 gb storage</p>
    <p>VIP support</p>
    <button (click)="onClickButton()">Try for Free</button>
  </div>
</div>
