$fontFamily: 'Spartan', sans-serif;
$fontColor: hsl(300, 43%, 22%);

.app-container {
   position: absolute;
   top: 0;
   padding: 5% 10%;
   font-family: $fontFamily;
   color: $fontColor;
   width: 97vw;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}