@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

.background {

   overflow: hidden;

   .background-top {
      height: 50vh;
      background-image: url('./assets/bg-pattern-top-desktop.svg');
      background-repeat: no-repeat;
      background-size: 50%;
      position: relative;
      left: -15%;
   }
   
   .background-bottom {
      height: 50vh;
      background-image: url('./assets/bg-pattern-bottom-desktop.svg');
      background-repeat: no-repeat;
      background-size: 100%;
   }
}

