.study-statistics-container {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-900);
  border-radius: 16px;
  box-shadow: 2px 2px 0 0 var(--neutral-900);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  width: 100%;

  .study-statistics-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 0;

    @media (width < 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (width < 700px) {
      grid-template-columns: 1fr;
    }
  }
}
