:host {
  display: contents;
}

svg {
  width: 19.7rem;
  height: 4rem;

  @media (width < 700px) {
    width: 25rem;
    height: 6rem;
  }

  @media (width < 500px) {
    width: 35rem;
    height: 8rem;
  }
}
