.build-manage-container {
  background-color: var(--sacramento-state-green);
  background-image: url('/images/bg-pattern-home-3.svg');
  background-position: calc(100% + 10rem) 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 10rem 20rem 15rem;

  @media (width < 1250px) {
    padding: 10rem 10rem 15rem;
  }

  @media (width < 1000px) {
    align-items: center;
    background-image: url('/images/bg-pattern-home-3.svg');
    background-position: calc(100% + 10rem) 0%;
    background-repeat: no-repeat;
    flex-direction: column;
    padding: 10rem;
  }

  @media (width < 700px) {
    padding: 15rem 2rem 5rem;
  }

  .build-manage-title {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @media (width < 1000px) {
      gap: 3rem;
    }

    .build-manage-rectangle {
      background-color: var(--light-coral);
      height: 4px;
      width: 5rem;
    }

    h2 {
      color: var(--white);
    }
  }

  .build-manage-features {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    list-style: none;
    padding: 6rem 0 0 0;

    .build-manage-feature {
      align-items: center;
      display: flex;
      gap: 2rem;
      width: 50rem;

      img {
        height: 6rem;
        width: 6rem;
      }

      hgroup {
        color: var(--white);
        display: flex;
        flex-direction: column;

        h3 {
          color: var(--light-coral);
        }
      }
    }
  }
}
