
$lightPurple: #666CA3;
$darkPurple: #13183F;
$grey: #83869A;
$pink: #F74780;
$lightPink: #FFA7C3;
$linearPink: linear-gradient(#FF6F48, #F02AA6);
$linearGrey: linear-gradient(#FFF, #F0F1FF);
$linearPurple: linear-gradient(#4851FF, #F02AA6);
$linearPurpleLight: linear-gradient(lighten(#4851FF, 10), lighten(#F02AA6, 10));
$white: #fff;

$tablet: 800px;
$mobile: 600px;
