<section class="portfolio-manage-3-container">
  <div class="separator"></div>

  <div class="portfolio-manage-3-links">
    <button class="link" [routerLink]="'../fylo'">
      <img src="/images/icons/arrow-left.svg" alt="arrow-left">
      <h3>Fylo <br> <span>Previous Project</span></h3>
    </button>
    <div class="line"></div>
    <button class="link-2" [routerLink]="'../bookmark'">
      <h3>Bookmark <br> <span>Next Project</span></h3>
      <img src="/images/icons/arrow-right.svg" alt="arrow-right">
    </button>
  </div>

  <div class="separator"></div>
</section>
