$lightRed: oklch(69.36% 0.196 23.76);
$darkRed: oklch(55.71% 0.151 23.38);
$dark: oklch(28.86% 0.046 274.51);
$darkGrey: oklch(65.64% 0.029 276.16);
$grey: oklch(94.07% 0.009 247.92);
$white: oklch(100% 0 0);


$mobile: 600px;
