<div class="calendar-container">
  <h3 class="calendar-title">COMING <span>4 NOV 2024</span></h3>
  <div class="calendar-items">
    <div class="calendar-days">
      <h2>{{ daysLeft }}</h2>
      <span>days</span>
    </div>
    <div class="calendar-hours">
      <h2>{{ hoursLeft }}</h2>
      <span>hours</span>
    </div>
    <div class="calendar-min">
      <h2>{{ minutesLeft }}</h2>
      <span>min</span>
    </div>
    <div class="calendar-sec">
      <h2>{{ secondsLeft }}</h2>
      <span>sec</span>
    </div>
  </div>
</div>
