<footer class="footer-container">

  <section class="footer-submenu">
    <img src="assets/logo.svg" alt="Logo">
    <menu class="menu-footer">
      <li class="menu-element">About</li>
      <li class="menu-element">Careers</li>
      <li class="menu-element">Events</li>
      <li class="menu-element">Products</li>
      <li class="menu-element">Support</li>
    </menu>
  </section>

  <section class="footer-icons">
    <menu class="menu-icons">
      <li class="menu-element"><img src="assets/icon-facebook.svg" alt="Facebook"></li>
      <li class="menu-element"><img src="assets/icon-twitter.svg" alt="Facebook"></li>
      <li class="menu-element"><img src="assets/icon-pinterest.svg" alt="Facebook"></li>
      <li class="menu-element"><img src="assets/icon-instagram.svg" alt="Facebook"></li>
    </menu>
    <p class="copyright"> &#169; 2021 Loopstudios. All rights reserved.</p>
  </section>

</footer>
