$dark: oklch(0% 0 0);
$bg-dark: oklch(0% 0 0 / .4);
$light-dark: oklch(30.92% 0 0);
$white: oklch(100% 0 0);
$grey: oklch(68.3% 0 0);

$bg-dark-menu: oklch(0% 0 0 / .75);
$bg-white-menu: oklch(100% 0 0 / .75);


$breakpoint-1: 1200px;
$breakpoint-2: 800px;
$breakpoint-3: 600px;
$breakpoint-4: 400px;
