<section class="home-sharing-container">
  <h2 class="home-sharing-title">
    {{ 'home.home-sharing.title' | translate }}
  </h2>
  <div class="home-sharing-content">
    <div class="line-1"></div>
    <div class="description-container">
      <p class="description-text">
        {{ 'home.home-sharing.description' | translate }}
      </p>
      <app-button class="header-button" [title]="'header.button' | translate">
        {{ 'home.home-sharing.button' | translate }}
      </app-button>
    </div>
    <div class="line-2"></div>
    <div class="circles"></div>
  </div>
</section>
