:host {
  @media (width < 700px) {
    width: 100%;
  }
}

button {
  align-items: center;
  background-color: var(--neutral-0);
  border-radius: 999px;
  box-shadow: 2px 2px 0 0 var(--neutral-900);
  color: var(--neutral-900);
  display: flex;
  gap: 0.8rem;
  padding: 1.2rem 2rem;
  transition-duration: 0.25s;

  @media (width < 700px) {
    justify-content: center;
    width: 100%;
  }

  &:focus {
    box-shadow: 3px 3px 0 0 var(--blue-600);
  }

  &:hover {
    box-shadow: 4px 4px 0 0 var(--neutral-900);
  }
}
