$backgroundColor: hsl(0, 0%, 98%);

.app-container {
   display: flex;
   flex-direction: column;
   background-color: $backgroundColor;
   font-family: 'Poppins', sans-serif;

   .title-container {

      height: 30vh;
      text-align: center;
      padding: 50px;

      h1 {
         
         font-weight: bold;
         span {
            font-weight: normal;
            color: hsl(229, 6%, 66%);
         }
      }

      p {
         color: hsl(229, 6%, 66%);
      }
   }

   .cards-container {
      height: 70vh;

      @media(max-width: 1135px) {
         display: flex;
         flex-direction: column;
         gap: 20px;
         height: auto;
         align-items: center;
         margin-bottom: 20px;
      }

      @media(min-width: 1135.1px) {
         position: relative;
         top: -150px;
         display: grid;
         grid-template-columns: repeat(3, 370px);
         padding-left: calc((100vw - 370px*3)/2);

         .card1 {
            grid-row-start: 2; 
            grid-row-end: 3; 
            grid-column-start: 1;
            grid-column-end:2;
         }
         .card2 {
            grid-row-start: 1; 
            grid-row-end: 2; 
            grid-column-start: 2;
            grid-column-end:3;
            position: relative;
            top: 45%;
         }

         .card3 {
            grid-row-start: 3; 
            grid-row-end: 4; 
            grid-column-start: 2;
            grid-column-end:3;
            position: relative;
            top: -45%;
         }

         .card4 {
            grid-row-start: 2; 
            grid-row-end: 3; 
            grid-column-start: 3;
            grid-column-end:4;
         }
      }

   }

}