@use "variables" as *;

.main-container {
  background-color: $veryLightGray;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 75vh;
  padding: 2vh 25vw;
  overflow-y: auto;

  @media (max-width: $desktop) {
    padding: 2vh 15vw;
  }

  @media (max-width: $tablet) {
    padding: 2vh 5vw;
  }

  @media (max-width: $mobile) {
    padding: 2vh 1vw;
  }

  .replies-container {
    display: flex;
    gap: 1rem;

    .replies-separator {
      border: 1px solid $lightGray;
      margin: 0 1rem;
    }
    .replies-comments {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  }
}




