$paragraphColor: hsl(240, 6%, 50%);

.card-container-left {
   width: 500px;
   height: 600px;
   background-color: white;
   border-radius: 20px 0 0 20px;
   overflow: hidden;

   .illustration {
      position: relative;
      top: 100px;
      left: -30px; 
   }

   @media (max-width: 1000px) {
      display: none;
   }
}


.card-container-right {
   width: 500px;
   height: 600px;
   background-color: white;
   border-radius: 0 20px 20px 0;

   @media (max-width: 1000px) {
      height: 700px;
      border-radius: 20px;
      position: relative;
      top: 10%;
      justify-content: end;
   }

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 50px;

   .illustration {
      position: absolute;
      top: -180px; 
      width: 80%;

      @media (min-width: 1000px) {
         display: none;
      }
   }

   .title {
      margin-bottom: 30px;
   }

   .question-container {
      display: flex;
      width: 400px;
      align-items: baseline;
      flex-wrap: wrap;

      p { 
         width: 350px;

         &.actived {
            font-weight: bold;
         }
      }

      button {
         background: none;
         border: none;
         padding: 0;

         img {
            width: 10px;
            height: 10px;

            &.actived {
               transform: rotate(180deg);
            }
         }
      }

      div {
         max-width: 350px;
         color: $paragraphColor;
         font-size: 14px;

         &.no-actived {
            display: none;
         }
      }
      
      hr {
         width: 90%;
      }
   }
}