<div class="dialog-container">
  <div class="dialog-main">
    <div class="dialog-header">
      <app-logo mode="bright" />
      <button (click)="onCloseMenu()">
        <img src="/images/icon-close-light.svg" alt="Close Menu" />
      </button>
    </div>

    <ul class="dialog-menu-nav">
      <hr />
      <li><a href="#">FEATURES</a></li>
      <hr />
      <li><a href="#">PRICING</a></li>
      <hr />
      <li><a href="#">CONTACT</a></li>
      <hr />
    </ul>

    <button class="dialog-button">LOGIN</button>
  </div>
  <div class="dialog-icons">
    <app-facebook />
    <app-twitter />
  </div>
</div>
