@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic/Livvic-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Livvic-SemiBold';
  src: url('/fonts/Livvic/Livvic-SemiBold.ttf') format('opentype');
}

:root {
  --midnight-green: #014e56;
  --light-coral: #f67e7e;
  --white: #ffffff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;
}

.h1 {
  font-family: 'Livvic';
  font-size: 6.4rem;
  line-height: 5.6rem;
  margin: 0;
}

.h2 {
  font-family: 'Livvic';
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin: 0;
}

.h3 {
  font-family: 'Livvic';
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0;
}

.body-1 {
  font-family: 'Livvic-SemiBold';
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0;
}

.body-2 {
  font-family: 'Livvic-SemiBold';
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0;
}
