.header-container {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
  padding: 5rem 15rem;

  @media(width < 1500px) {
    padding: 5rem;
  }

  @media(width >= 1200px) {
    app-menu-button {
      display: none;
    }
  }

  @media(width < 1200px) {
    .header-menu-nav {
      display: none;
    }
  }

  .header-menu-nav ul {
    align-items: center;
    display: flex;
    gap: 4rem;
    list-style: none;
  }
}
