<header class="header-container">
  <img class="header-logo" ngSrc="../../../assets/logo.svg" height="64" width="64" alt="Logo">
  <h1 class="header-title">Body Mass Index Calculator</h1>
  <p class="header-description">
    Better understand your weight in relation to your height using our
    body mass index (BM) calculator. While BMI is not the sole determinant
    of a healthy weight, it offers a valuable starting point to evaluate
    your overall health and well-being.
  </p>
  <app-bmi-calculator />
</header>
