@import "variables";

.about-header-container {
  background-image: url("/images/about-hero-desktop.jpg");
  background-size: 100% 100%;
  overflow: hidden;
  padding: 5rem;
  position: relative;

  @media (max-width: $breakpoint1) {
    background-image: url("/images/about-hero-tablet.jpg");
  }

  @media (max-width: $breakpoint2) {
    align-items: center;
    background-image: url("/images/about-hero-mobile.jpg");
    display: flex;
    justify-content: center;
  }

  &::after {
    content: '';
    background-image: url("/patterns/white-circles.svg");
    background-repeat: no-repeat;
    bottom: calc(50% - 3.5rem);
    height: 7rem;
    right: 0;
    position: absolute;
    width: 20rem;

    @media (max-width: $breakpoint2) {
      display: none;
    }
  }

  .about-header-title {
    color: $white;
    font-size: 5.6rem;
    font-weight: bold;
  }
}
