:host {
  align-items: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  height: 100%;
  padding: 5rem 0;
  position: relative;

  .result-new-best-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (width < 700px) {
      text-align: center;
    }

    h2 {
      color: var(--neutral-0);
    }

    h3 {
      color: var(--neutral-400);
    }
  }

  .result-new-best-resume {
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;

    @media (width < 700px) {
      flex-direction: column;
      width: 100%;
    }

    li {
      border: 1px solid var(--neutral-700);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 1.6rem 2.4rem;
      width: 16rem;

      @media (width < 700px) {
        width: 100%;
      }

      h3 {
        color: var(--neutral-400);
      }

      span {
        color: var(--neutral-0);

        .correct-character {
          color: var(--green-500);
        }

        .incorrect-character {
          color: var(--red-500);
        }
      }
    }
  }
}
