:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  outline: none;
  padding: 1.7rem 1.4rem;
  width: 100%;

  &::placeholder {
    color: var(--white);
  }

  &.empty {
    opacity: 0.6;
  }

  &.error:not(.ng-untouched) {
    color: var(--light-coral);
    border-bottom: 1px solid var(--light-coral);

    &::placeholder {
      color: var(--light-coral);
    }
  }
}

span {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--light-coral);
}
