@if(!total()) {
  <div class="cart-container-empty">
    <p class="text-preset-2 red" style="align-self: flex-start;">Your Cart (0)</p>
    <img src="images/illustration-empty-cart.svg" alt="Empty Cart">
    <p class="text-preset-4-bold">Your added items will appear here</p>
  </div>
} @else {
  <div class="cart-container">
    <p class="text-preset-2 red" style="align-self: flex-start;">Your Cart ({{ total() }})</p>
    @for(product of cartProducts(); track $index) {
      <div class="product-item">
        <div class="product-description">
          <p class="text-preset-4-bold">{{ product.name }}</p>
          <div class="product-price">
            <p class="red">{{ product.quantity }}x</p>
            <p class="text-preset-4">&#x40; {{ product.price | currency }}</p>
            @let totalPrice = product.quantity * product.price;
            <p class="text-preset-4-bold">{{ totalPrice | currency }}</p>
          </div>
        </div>
        <button class="remove-product-button" title="Remove product from cart" (click)="removeProduct(product)">
          <img src="images/icon-remove-item.svg">
        </button>
      </div>
      <div class="separator"></div>
    }

    <div class="cart-total">
      <p class="text-preset-4">Order Total</p>
      <p class="text-preset-2"> {{ totalPrice() | currency}} </p>
    </div>

    <div class="cart-carbon-neutral">
      <img src="images/icon-carbon-neutral.svg" alt="Icon Carbon Neutral">
      <p class="text-preset-4">This is a <span class="text-preset-4-bold">carbon-neutral</span> delivery</p>
    </div>

    <button class="confirm-order-button" title="Confirm Order" (click)="open()">
      <p class="text-preset-3 white">Confirm Order</p>
    </button>
  </div>
}


