<section class="careers-values-container">
  <h2>{{ 'careers.careers-values.title' | translate }}</h2>

  <div class="careers-values-list">

    <div class="careers-values-item">
      <div class="careers-values-item-image" [attr.value]="'01'"></div>
      <h3>
        {{ 'careers.careers-values.tech.title' | translate }}
      </h3>
      <p>
        {{ 'careers.careers-values.tech.description' | translate }}
      </p>
    </div>

    <div class="careers-values-item">
      <div class="careers-values-item-image" [attr.value]="'02'"></div>
      <h3>
        {{ 'careers.careers-values.integrity.title' | translate }}
      </h3>
      <p>
        {{ 'careers.careers-values.integrity.description' | translate }}
      </p>
    </div>

    <div class="careers-values-item">
      <div class="careers-values-item-image" [attr.value]="'03'"></div>
      <h3>
        {{ 'careers.careers-values.community.title' | translate }}
      </h3>
      <p>
        {{ 'careers.careers-values.community.description' | translate }}
      </p>
    </div>

  </div>

</section>
