@use 'variables' as *;

.stay-productive-container {
    background: url('../../../assets/images/bg-curve-desktop.svg'), linear-gradient($white 12%, $lightBlue 12%);
    background-repeat: no-repeat;
    background-size: 100% 12%, 100% 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 5rem;

    .stay-productive-info {
        color: $darkBlue;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;

        h2 {
            font-family: 'Raleway';
            font-size: 2.5rem;
            font-weight: bold;
        }

        p {
            font-family: 'OpenSans';
            font-weight: 400;
        }
    }

    .stay-productive-image {
        width: 100%;
    }
}