<div class="card-container">
  <img ngSrc="../../../assets/image-victor.jpg" width="96" height="96" alt="Victor" rotation>
  <div class="card-title">
    <h1>Victor Crest <span>26</span></h1>
    <p>London</p>
  </div>
  <div class="card-stats">
    <h2>
      {{ followers }}K
      <br>
      <span letterSpacing>Follower</span>
    </h2>
    <h2>
      {{ likes }}K
      <br>
      <span letterSpacing>Likes</span>
    </h2>
    <h2>
      {{ photos }}K
      <br>
      <span letterSpacing>Photos</span>
    </h2>
  </div>
</div>
