.log-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style: none;
  padding: 0;
  margin: 0;

  .log-item {
    align-items: center;
    background-color: var(--neutral-600);
    border: 1px solid var(--neutral-500);
    border-radius: 10px;
    display: flex;
    gap: 2rem;
    padding: 1.85rem 1.6rem;

    .log-item-date {
      color: var(--neutral-200);
    }

    .log-item-pair {
      align-items: center;
      color: var(--neutral-50);
      display: flex;
      flex: 1;
      gap: 0.8rem;
    }

    .log-item-rates {
      color: var(--neutral-50);
      display: flex;
      gap: 0.6rem;

      .log-item-rates-quote {
        color: var(--lime-500);
      }
    }
  }
}
