@use 'variables' as *;

.keen-slider {
  display: flex;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 80vh;
}

.number-slide1 {
  background: linear-gradient($almostBlack, lighten($almostBlack, 50));
}

.number-slide2 {
  background: linear-gradient($blue, lighten($blue, 20));
}

.number-slide3 {
  background: linear-gradient($pink, lighten($pink, 20));
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

h1 {
  margin: 0;
  font-size: 50px;

  @media (max-width: $tablet) {
    font-size: 30px;
  }
}

ol {

  li {

    &::marker {
      content: "✓  ";
      color: crimson;
      left: -10px;
      padding-left: 1ch;
      position: relative;
    }
  }
  font-size: 40px;

  @media (max-width: $tablet) {
    font-size: 25px;
  }
}
