<footer class="footer-container">

  <div class="footer-newsletter-responsive">
    <h3>
      NEWSLETTER
    </h3>
    <p>
      To recieve tips on how to grow your community, sign up to our weekly newsletter.
      We’ll never send you spam or pass on your email address
    </p>
    <div class="footer-subscribe">
      <app-footer-input/>
    </div>

  </div>

  <div class="footer-info">
    <img class="footer-logo" src="../../../assets/footer-logo.svg" alt="Footer-Logo">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris nulla quam, hendrerit lacinia vestibulum a, ultrices quis sem.
    </p>

    <div class="footer-phone">
      <img src="../../../assets/icon-phone.svg" alt="Phone">
      <p>
        Phone: +1-543-123-4567
      </p>
    </div>

    <div class="footer-email">
      <img src="../../../assets/icon-email.svg" alt="Email">
      <p>
        example&#64;huddle.com
      </p>
    </div>
  </div>

  <div class="footer-newsletter">
    <h3>
      NEWSLETTER
    </h3>
    <p>
      To recieve tips on how to grow your community, sign up to our weekly newsletter.
      We’ll never send you spam or pass on your email address
    </p>
    <div class="footer-subscribe">
      <app-footer-input/>
    </div>

  </div>

  <div class="footer-icons">
    <app-drawer-icon/>
  </div>

</footer>
