@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik.ttf") format("opentype");
}

:root {
  --blue: #5267DF;
  --red: #FA5959;
  --black: #242A45;
  --grey: #9194A2;
  --medium-grey: #5B6074;
  --light-grey: #F7F7F7;
  --white: #FFFFFF;
}
