.ready-container {
  background-color: var(--light-coral);
  background-image: url('/images/bg-pattern-home-6-about-5.svg');
  background-position: 0% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 10rem 20rem;

  @media (width < 1000px) {
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 10rem;
    text-align: center;
  }

  @media (width < 700px) {
    padding: 10rem 2rem 20rem;
  }

  .h2 {
    color: var(--sacramento-state-green);
  }
}
