<section class="design-container">
  <div class="design-main">
    <img class="mobile-background" src="/assets/mobile/image-strategic.jpg" alt="Mobile Background">
    <div class="design-title">
      <img src="assets/desktop/bg-pattern-wave-red.svg" alt="Wave red" />
      <h2><span>Design</span> is strategic.</h2>
    </div>
    <p class="design-description">
      “A well-crafted design strategy consistently produces desired outcomes and brand awareness.
      We are firm believers that success lies in creative collaboration with our clients.”
    </p>
    <a class="design-link" routerLink="/">Schedule a Call</a>
  </div>
</section>
