@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.app-container {
   background-color: hsl(185, 75%, 39%);
   height: 100vh;
   display: flex;
   overflow: hidden;

   .top {
      position: relative;
      top: -50vh;
      width: 50vw;
   }

   .bottom {
      position: relative;
      top: 50vh;
      width: 50vw;
   }
}
