$green-1: linear-gradient(120deg,#33D35E, #2AB6D9);
$green-2: #30C88F;
$dark: #2D314D;
$grey-1: #9597A5;
$grey-2: #F4F5F7;
$grey-3: #FAFAFA;
$white: #FFFFFF;


$breakpoint1: 1350px;
$breakpoint2: 1000px;
$breakpoint3: 550px;
$breakpoint4: 350px;
