$dark: oklch(0% 0 0);
$darkOpacity: oklch(0% 0 0 / 0.75);
$grey: oklch(58.97% 0 0);
$lightGrey: oklch(92.19% 0 0);
$almostWhite: oklch(96.42% 0 0);
$white: oklch(100% 0 0);


$breakpointLarge: 1115px;
$breakpointSmall: 600px;
