$bgColor: oklch(255% 0 0);
$violet: oklch(81.39% 0.09 286.37);
$darkBlue: oklch(17.55% 0.1 272.49);
$grey: oklch(81.41% 0 0);
$blue: oklch(56.36% 0.227 264.59);
$white: oklch(255% 0 0);
$red: oklch(59.15% 0.202 21.24);
$green: oklch(64.31% 0.095 179.8);