.meet-directors-container {
  align-items: center;
  background-color: var(--deep-jungle-green);
  background-image: url('/images/bg-pattern-about-2-contact-1.svg'), url('/images/bg-pattern-home-4-about-3.svg');
  background-position: -10rem 0%, 100% 100%;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  padding: 15rem 20rem;

  @media (width < 1250px) {
    padding: 15rem 10rem;
  }

  @media (width < 700px) {
  background-image: url('/images/bg-pattern-about-2-contact-1.svg'), url('/images/bg-pattern-home-4-about-3.svg');
    background-repeat: no-repeat;
    background-position: -14rem -14rem, 100% 100%;
    padding: 35rem 2rem 15rem;
  }

  .meet-directors-list {
    display: grid;
    column-gap: 3rem;
    row-gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

    @media (width < 1000px) {
      display: flex;
      flex-direction: column;
    }
  }
}
