$darkCharcoal: oklch(30.36% 0.006 56.18);
$darkRaspberry: oklch(41.17% 0.121 355.07);
$brandyRed: oklch(46.72% 0.092 38.33);
$wengeBrown: oklch(45.9% 0.019 67.34);
$eggshell: oklch(92.93% 0.024 67.52);
$whiteCoffee: oklch(90.06% 0.01 67.69);
$snow: oklch(98.34% 0.01 345.41);
$white: oklch(100% 0 0);


$mobile: 48rem;
