<section class="home-4-container">
  <div class="home-4-text">
    <img src="images/patterns/pattern-divide.svg" alt="Divide">
    <h2>A few highlights from <br> our menu</h2>
    <p>
      We cater for all dietary requirements, but here’s a <br>
      glimpse at some of our diner’s favourites. Our menu is <br>
      revamped every season.
    </p>
  </div>

  <ul class="home-4-list">
    <li>
      <div class="home-4-item-image"></div>
      <div class="home-4-item-text">
        <strong>Seared Salmon Fillet</strong>
        <p>Our locally sourced salmon served <br> with a refreshing buckwheat summer salad.</p>
      </div>
    </li>
    <li class="separator"></li>
    <li>
      <div class="home-4-item-image"></div>
      <div class="home-4-item-text">
        <strong>Rosemary Filet Mignon</strong>
        <p>Our prime beef served to your taste with a delicious <br> choice of seasonal sides.</p>
      </div>
    </li>
    <li class="separator"></li>
    <li>
      <div class="home-4-item-image"></div>
      <div class="home-4-item-text">
        <strong>Summer Fruit Chocolate Mousse</strong>
        <p>Creamy mousse combined with summer fruits and <br> dark chocolate shavings.</p>
      </div>
    </li>
  </ul>
</section>
