@use 'variables' as *;

.svg-container {
  border: 1px solid $white;
  border-radius: 50%;
  padding: 0.5rem;

  &:hover {
    border: 1px solid $pink;
    cursor: pointer;

    svg {
      fill: $pink;

      path {
        fill: $pink;
      }
    }
  }
}
