.study-statistics-card-container {
  align-items: center;
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-900);
  border-radius: 16px;
  box-shadow: 2px 2px 0 0 var(--neutral-900);
  display: flex;
  gap: 2rem;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  hgroup {
    color: var(--neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
    padding: 1.5rem 2rem;
  }

  .study-stats-icon {
    align-items: center;
    border-left: 1px solid var(--neutral-900);
    border-radius: 0 16px 16px 0;
    display: flex;
    height: 100%;
    padding: 1.5rem 4rem;

    &.icon-total {
      background-color: var(--blue-400);
    }

    &.icon-mastered {
      background-color: var(--teal-400);
    }

    &.icon-in-progress {
      background-color: var(--pink-500);
    }

    &.icon-not-started {
      background-color: var(--pink-400);
    }
  }
}
