<div class="body-container">
  <div class="courses-list">
    <div class="most-popular">
      <p class="most-popular-content">Check out our most popular courses!</p>
    </div>
    <div class="animation">
      <img class="logo" src="../../../assets/icon-animation.svg" alt="Animation">
      <div class="content">
        <h1 class="title">Animation</h1>
        <p class="description">
          Learn the latest animation techniques to create stunning motion
          design and captivate your audience.
        </p>
        <button class="button-started">Get Started</button>
      </div>
    </div>
    <div class="design">
      <img class="logo" src="../../../assets/icon-design.svg" alt="Design">
      <div class="content">
        <h1 class="title">Design</h1>
        <p class="description">
          Create beautiful, usable interfaces to help shape the future of
          how the web looks.
        </p>
        <button class="button-started">Get Started</button>
      </div>
    </div>
    <div class="photography">
      <img class="logo" src="../../../assets/icon-photography.svg" alt="Photography">
      <div class="content">
        <h1 class="title">Photography</h1>
        <p class="description">
          Explore critical fundamentals like lighting, composition, and focus
          to capture exceptional photos.
        </p>
        <button class="button-started">Get Started</button>
      </div>
    </div>
    <div class="crypto">
      <img class="logo" src="../../../assets/icon-crypto.svg" alt="Crypto">
      <div class="content">
        <h1 class="title">Crypto</h1>
        <p class="description">
          All you need to know to get started investing in crypto. Go from beginner
          to advanced with this 54 hour course.
        </p>
        <button class="button-started">Get Started</button>
      </div>
    </div>
    <div class="business">
      <img class="logo" src="../../../assets/icon-business.svg" alt="Business">
      <div class="content">
        <h1 class="title">Business</h1>
        <p class="description">
          A step-by-step playbook to help you start, scale, and sustain your business
          without outside investment.
        </p>
        <button class="button-started">Get Started</button>
      </div>
    </div>
  </div>
</div>
