$lime: #D8DB2F;
$limeHover: #D8DB3026;
$slate-100: #E4F4FD;
$slate-300: #9ABED5;
$slate-500: #6B94A8;
$slate-700: #4E6E7E;
$slate-900: #133041;
$white: #FFFFFF;
$red: #D73328;
$card: #0E2431;

$breakpoint1: 1000px;
$breakpoint2: 600px;
