:host {
  display: contents;
}

.flashcard-study-container {
  display: flex;
  gap: 3rem;
  height: 60rem;
  width: 100%;

  @media (width < 1000px) {
    flex-direction: column;
    height: fit-content;
  }

  .study-card {
    width: 60%;

    @media (width < 1000px) {
      width: 100%;
    }
  }

  .study-statistics {
    width: 40%;

    @media (width < 1000px) {
      width: 100%;
    }
  }
}
