:host {
  display: contents;
}

.flashcard-study-container {
  display: flex;
  gap: 3rem;
  height: 60rem;
  width: 100%;

  .study-card {
    width: 60%;
  }

  .study-statistics {
    width: 40%;
  }
}
