@let errors = innerControl.errors;
@let dirty = innerControl.dirty;

<label [for]="id()" class="text-5 label">{{ label() }}</label>

<div class="radius-12 input-image-container">

  @if(imgUrl()) {
    <img [src]="imgUrl()" alt="Avatar Image" class="radius-12 avatar-image">
    <div class="change-image">
      <button type="button" class="radius-4 text-7" (click)="removeAvatar()">Remove Image</button>
      <button type="button" class="radius-4 text-7" (click)="removeAvatar()">Change Image</button>
      <input type="file"
        [id]="id()"
        accept="image/png, image/jpeg"
        (change)="addFile($event)"/>
    </div>
  } @else {
    <img src="/assets/images/icon-upload.svg" alt="Upload file" class="radius-12 drop-image" />
    <input type="file"
    [id]="id()"
    accept="image/png, image/jpeg"
    (change)="addFile($event)"/>
    <p class="text-6">
      Drag and drop or click to upload
    </p>
  }

</div>

@if(errors && dirty) {
  <div class="error-message">
    <img src="/assets/images/icon-info-error.svg" alt="error">
    <p class="text-7">{{ errors | error }}</p>
  </div>
} @else {
  <div class="message">
    <img src="/assets/images/icon-info.svg" alt="error">
    <p class="text-7">Upload your photo (JPG or PNG, max size: 5MB).</p>
  </div>
}
