.study-card-filter-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  .study-card-filter-categories {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    
    @media (width < 700px) {
      flex-direction: column;
    }

    .hide-mastered {
      align-items: center;
      color: var(--neutral-900);
      display: flex;
      gap: 0.5rem;
    }
  }
}
