<div class="header-container">
  <menu class="header-menu">
    <img class="header-menu-logo" src="../../../assets/logo-dark.svg" alt="Logo">
    <button class="header-menu-button">Get Started</button>
  </menu>
  <div class="header-description">
    <h1 class="header-description-title">
      Maximize skill, minimize budget
    </h1>
    <p class="header-description-content">
      Our modern courses across a range of in-demand skills will give you the
      knowledge you need to live the life you want.
    </p>
    <button class="header-description-button">Get Started</button>
  </div>
</div>
