@use 'variables' as *;

.description-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  justify-content: center;
  width: 80%;

  @media(max-width: $breakpointSmall) {
    padding: 0rem 1.75rem 0rem;
    width: 100%;
  }

  .description-subtitle {
    color: $orange;
    font-size: 0.8125rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
  }

  .description-title {
    color: $veryDarkBlue;
    font-size: 2.75rem;
    font-weight: bold;
  }

  .description-explanation {
    color: $darkGrayishBlue;
  }

  .description-price {

    align-items: center;
    display: flex;
    gap: 1rem;

    @media(min-width: $breakpointVerySmall) {
      justify-content: space-between;
    }

    .decription-price-left {
      align-items: center;
      display: flex;
      gap: 1rem;

      strong {
        font-size: 1.75rem;
      }

      p {
        background-color: $paleOrange;
        border-radius: 6px;
        color: $orange;
        font-weight: bold;
        padding: 0.15rem 0.6rem;
      }
    }

    .description-reduction-responsive {
      color: $grayishBlue;
      font-weight: bold;
      text-decoration: line-through;

      @media(min-width: $breakpointSmall) {
        display: none;
      }
    }
  }

  .description-reduction {
    color: $grayishBlue;
    font-weight: bold;
    text-decoration: line-through;

    @media(max-width: $breakpointSmall) {
      display: none;
    }
  }

  .description-buttons {
    align-items: center;
    display: flex;
    gap: 1rem;

    @media(max-width: $breakpointVerySmall) {
      flex-direction: column;
    }

    .description-buttons-quantity {
      align-items: center;
      background-color: $lightGrayishBlue;
      border-radius: 10px;
      display: flex;
      gap: 2.8rem;
      padding: 1rem;
      width: 11rem;

      @media(max-width: $breakpointVerySmall) {
        justify-content: space-between;
        width: 100%;
      }

      button {
        background: none;
        border: none;
        color: $orange;
        font-size: 1.3rem;
        font-weight: bold;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          transform: translate(1px, 1px);
        }
      }
    }

    app-cart-button.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
