<footer class="footer-container">
  <figure>
    <img ngSrc="../../../assets/logo.svg" width="79" height="26" alt="Suite">
  </figure>
  <p>Copyright - Suite</p>
  <figure class="footer-icons">
    <img ngSrc="../../../assets/icon-facebook.svg" width="20" height="20" alt="Suite" changeImageColor>
    <img ngSrc="../../../assets/icon-twitter.svg" width="20" height="17" alt="Suite" changeImageColor>
    <img ngSrc="../../../assets/icon-instagram.svg" width="20" height="20" alt="Suite" changeImageColor>
  </figure>
</footer>
