$var1000: oklch(20.04% 0.006 271.1);
$var900: oklch(23.84% 0.006 258.36);
$var800: oklch(29.67% 0.008 264.45);
$var700: oklch(34.31% 0.012 258.37);
$var600: oklch(48.7% 0.016 258.37);
$var500: oklch(60.1% 0.011 252.86);
$var400: oklch(82% 0.01 267.34);
$var300: oklch(91.89% 0 0);
$var200: oklch(97.02% 0 0);
$var100: oklch(100% 0 0);
$orange: oklch(65.93% 0.165 36.38);
$orangeHover: oklch(76.08% 0.129 48.55);


$tablet: 870px;
$mobile: 400px;
