.dialog-edit-container {
  color: var(--neutral-900);
  display: flex;
  flex-direction: column;

  hgroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.4rem 2.4rem 1rem 2.4rem;
  }

  .dialog-edit-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 2rem;
    width: 100%;
  }

  .dialog-edit-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2.4rem 2.4rem 2.4rem;
  }
}
