@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/mixins";
@import 'variables';


@font-face {
  font-family: "JosefinSans";
  src: url("./fonts/JosefinSans.ttf") format("opentype");
}

html,
body {
  font-family: "JosefinSans";
  font-size: 18px;
  height: 100vh;

  --width: 35rem;

  @media(max-width: $breakpoint1) {
    font-size: 14px;
    --width: 30rem;
  }

  @media(max-width: $breakpoint2) {
    font-size: 10px;
    --width: 25rem;
  }
}

h1,
p {
  margin: 0;
}


