$dark: oklch(16.23% 0.021 275.07);
$blue: oklch(88.26% 0.049 277.68);
$white: oklch(100% 0 0);
$grey: oklch(67.64% 0 0);
$greyNoOpacity: oklch(67.64% 0 0 / 0%);
$separator: oklch(35.61% 0.028 276.57);

$tablet: 1000px;
$mobile: 600px;
$mobileSmall: 420px;
