<div class="header-container">
  <header class="header-main">
    <figure>
      <img ngSrc="../../../assets/logo.svg" width="79" height="26" alt="Suite">
    </figure>
    <button class="button-access">Request Beta Access</button>
  </header>
  <ng-container *ngTemplateOutlet="headerBody"></ng-container>
</div>

<ng-template #headerBody>
  <div class="header-body-container">
    <section class="header-body-left">
      <h1 class="header-body-title">
        A <span>super solution</span> for your <span>business.</span>
      </h1>
      <p class="header-body-description">
        Our marketing and sales automations help you scale your outreach to
        get more leads for your company.
      </p>
      <button class="button-access">Request Beta Access</button>
    </section>
    <section class="header-body-right">
      <h1>
        <span>2K +</span>
        <br>
        Companies
      </h1>
      <h1>
        <span>8</span>
        <br>
        Languages
      </h1>
      <h1>
        <span>1.2M</span>
        <br>
        Leads
      </h1>
    </section>
  </div>
</ng-template>


