$dark1: oklch(11.49% 0 0);
$dark2: oklch(23.93% 0 0);
$dark3: oklch(29.72% 0 0);
$dark4: oklch(34.85% 0 0);

$light1: oklch(56.24% 0 0);
$light2: oklch(93.4% 0 0);
$light3: oklch(96.72% 0 0);
$light4: oklch(100% 0 0);

$purple: oklch(59.71% 0.241 306.13);
$red: oklch(67.86% 0.209 24.66);



$tablet: 1100px;
$mobileBig: 800px;
$mobileSmall: 500px;
