<div class="apply-container">
  <img class="apply-founder" src="../../../assets/image-founder.webp" alt="Foudner">
  <div class="apply-description">
    <h1 class="apply-title">Be the first to test</h1>
    <p class="apply-explanation">
      Hi, I'm Louis Graham, the founder of the company. Book a demo call with me to become a
      beta tester for our app and kickstart your company. Apply for access below and I’ll be
      in touch to schedule a call.
    </p>
    <button class="apply-button">Apply for acces</button>
  </div>
  <img class="pattern-3" src="../../../assets/bg-pattern-3.svg" alt="Pattern-3">
</div>
