@import '../src/assets/variables.scss';

@font-face {
  font-family: 'Overpass';
  src: url('./assets/fonts/Overpass.ttf') format("opentype");
}

body {
  margin: 0;
  height: 100vh;
  background-color: $backgroundPageColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
}
