@import '../src/assets/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100vh;
  background-color: $backgroundPageColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Overpass', sans-serif;
}
