<div class="fifth-section-container">
  <h1 class="title">{{'Client testimonials' | uppercase}}</h1>
  <div class="profil-section">
    <div class="profil">
      <img src="../../../assets/image-emily.jpg" alt="Photo">
      <h3 class="description">We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</h3>
      <h4>Emily R.</h4>
      <h5>Marketing Director</h5>
    </div>
    <div class="profil">
      <img src="../../../assets/image-thomas.jpg" alt="Photo">
      <h3 class="description">Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.</h3>
      <h4>Thomas S.</h4>
      <h5>Chief Operating Officer</h5>
    </div>
    <div class="profil">
      <img src="../../../assets/image-jennie.jpg" alt="Photo">
      <h3 class="description">Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</h3>
      <h4>Jennie F.</h4>
      <h5>Business Owner</h5>
    </div>
  </div>
</div>
