$grayishBlue: oklch(62.98% 0.054 282.38);
$softRed: oklch(69.81% 0.191 8.2);

$white: oklch(100% 0 0);
$darkDesaturatedBlue: oklch(34.39% 0.045 280.56);
$darkBlue: oklch(24.28% 0.02 280.73);
$veryDarkBlue: oklch(22.3% 0.018 279.84);
$bgDarkBlue: oklch(23.32% 0.03 305.52);


$breakpoint1: 700px;
$breakpoint2: 500px;
