$pink: oklch(70.88% 0.2339356616927775 345.29899048787706);
$white: oklch(255% 0 0);
$black: oklch(24.41% 0.04383848702913661 217.91254011192342);
$lightBlue: oklch(77.16% 0.14598444977909042 224.83484730846257);
$grey: oklch(63.95% 0.024 243.99);
$red: oklch(62.8% 0.25768330773615683 29.2338851923426);
$bgBlue: oklch(98.55% 0.007534264602673061 241.66071260400486);


$tablet: 1000px;
$mobile: 500px;
