@font-face {
  font-family: 'Fraunces';
  src: url('./assets/fonts/Fraunces.ttf') format("opentype");
}

html, body {
  margin: 0;
  font-family: 'Fraunces', serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
