.features-container {
  align-items: center;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 0;

  @media(width < 1500px) {
    padding: 5rem 0;
  }

  .features-title {
    font-size: 3.2rem;
    letter-spacing: -0.1px;
  }

  .features-description {
    font-size: 1.8rem;
    opacity: 0.5;
    text-align: center;
  }

  .features-selection {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #495DCF33;

    @media(width < 1200px) {
      flex-direction: column;
      width: 80%;
    }

    .feature-button {
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      font-size: 1.6rem;
      padding: 4rem;
      transition-duration: 0.3s;

      @media(width < 1200px) {
        border-top: 1px solid #495DCF33;
        padding: 2rem;
      }
    }
  }
}
