$color1: oklch(100% 0 0);
$color2: oklch(15.29% 0.059 276.78);
$color3: oklch(35.08% 0.04 284.16);
$color4: oklch(61.47% 0.021 285.77);

$color5: oklch(65.57% 0.097 221.86);
$color6: oklch(76.98% 0.136 67.7);
$color7: oklch(49.24% 0.232 292.81);
$color8: oklch(59.39% 0.173 33.03);

$color9: oklch(58.66% 0.196 27.32);
$color10: oklch(59.23% 0.168 39.74);
$color11: oklch(72.64% 0.132 175.11);
$color12: oklch(56.21% 0.214 263.38);


$breakpointLarge: 1250px;
$breakpointSmall: 750px;
