// Light Mode
$lightBlue: #0079FF;
$lightGrey: #697C9A;
$lightDarkBlue: #4B6A9B;
$lightAlmostBlack: #2B3442;
$lightAlmostWhite: #F6F8FF;
$lightWhite: #FEFEFE;
$lightBlack: #222731;


// Dark mode
$darkBlue: #0079FF;
$darkWhite: #FFFFFF;
$darkAlmostBlack: #141D2F;
$darkDarkBlue: #1E2A47;
$darkGrey: #90A4D4;


// Responsive
$mobile: 600px;
$tablet: 1000px;
