<section class="body-container">
  <div class="image-container">
    <img class="image" src="../../../assets/desktop/image-woman-in-videocall.jpg" alt="Woman-Videocall">
    <img class="image" src="../../../assets/desktop/image-women-videochatting.jpg" alt="Woman-Videochatting">
    <img class="image" src="../../../assets/desktop/image-men-in-meeting.jpg" alt="Men-meeting">
    <img class="image" src="../../../assets/desktop/image-man-texting.jpg" alt="Man-Texting">
  </div>
  <div class="body-main">
    <h2 class="body-subtitle">Built for modern use</h2>
    <h1 class="body-title">Smarter meetings, all in one place</h1>
    <p class="body-description">
      Send messages, share files, show your screen, and record your meetings — all in one
      workspace. Control who can join with invite-only team access, data encryption, and data export.
    </p>
  </div>
</section>
