<section class="home-features-container">
  <div class="home-features-item">
    <img src="/icons/locate.svg" [alt]="'home.home-features.item-1.title' | translate">
    <div class="home-features-text">
      <h2>{{ 'home.home-features.item-1.title' | translate }}</h2>
      <p>{{ 'home.home-features.item-1.description' | translate }}</p>
    </div>
  </div>
  <div class="home-features-item">
    <img src="/icons/scooter.svg" [alt]="'home.home-features.item-2.title' | translate">
    <div class="home-features-text">
      <h2>{{ 'home.home-features.item-2.title' | translate }}</h2>
      <p>{{ 'home.home-features.item-2.description' | translate }}</p>
    </div>
  </div>
  <div class="home-features-item">
    <img src="/icons/ride.svg" [alt]="'home.home-features.item-3.title' | translate">
    <div class="home-features-text">
      <h2>{{ 'home.home-features.item-3.title' | translate }}</h2>
      <p>{{ 'home.home-features.item-3.description' | translate }}</p>
    </div>
  </div>
</section>
