@use "variables" as *;

div {
  color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans";
  transition: all 0.8s ease;
  position: relative;
  border: 1px solid $pink;
  border-radius: 1.4rem;
  padding: 0.4rem 1.5rem;
  box-shadow: 0 0 2px 0 $pink;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
  }

  &::after {
    left: -100%;
    clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
    background-color: $pink;
    transition: all 300ms ease;
  }

  &:hover {
    cursor: pointer;

    &::after {
      left: 100%;
    }
  }

  &:active {
    box-shadow: inset 0 0 2px 0 $pink;
  }

  @media(max-width: $mobile) {
    font-size: 0.8rem;
  }
}
