:host {
  color: var(--neutral-0);
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;

  @media(width < 1300px) {
    overflow-y: auto;
  }

  .home-started-background {
    user-select: none;
  }

  ::ng-deep .right-text {
    color: var(--green-500);
  }

  ::ng-deep .wrong-text {
    border-bottom: 1px solid var(--red-500);
    color: var(--red-500);
  }
}
