:host {
  align-items: center;
  color: var(--neutral-0);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-y: auto;
  .separator {
    border: 1px solid var(--neutral-700);
    margin-bottom: 2rem;
    width: 100%;
  }

  p {
    height: 85%;
    overflow-y: auto;
  }

  .home-started-background {
    user-select: none;
  }

  ::ng-deep .right-text {
    color: var(--green-500);
  }

  ::ng-deep .wrong-text {
    border-bottom: 1px solid var(--red-500);
    color: var(--red-500);
  }
}
