:host {
  background-color: var(--midnight-green);
  display: flex;
  flex-direction: column;
  height: 100%;

  .page-container {
    height: 100%;
    overflow: auto;
  }
}

.responsive-menu {
  background-color: var(--police-blue);
  background-image: url('/images/bg-pattern-about-1-mobile-nav-1.svg');
  background-position: calc(100% + 10rem) 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  padding: 6rem 4.8rem;
  position: absolute;
  right: 0;
  width: 50%;

  button {
    align-self: flex-end;
    background: none;
    border: none;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    padding: 0;

    a {
      color: var(--white);
      text-decoration: none;

      &.active {
        color: var(--light-coral);
      }
    }
  }
}
