@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/mixins";
@import 'bootstrap/scss/bootstrap';
@import 'variables';

@font-face {
  font-family: "Commissioner";
  src: url("./fonts/Commissioner.ttf") format("opentype");
}

html,
body {
  font-family: "Commissioner";
  font-size: 16px;
  height: 100vh;

  @media(max-width: $breakpoint1) {
    font-size: 14px;
  }
}
