@import 'variables.scss';

.bg-image {
  position: absolute;
  left: calc(100% - 312px);
  top: -40px;

  @media (max-width: $mobile) {
    display: none;
  }
}

.app-container {
  background-image: url('../assets/bg-main-desktop.png');
  background-position-x: -146px;
  background-position-y: -112px;
  background-repeat: no-repeat;
  height: 1832px;
  padding: 3.38vw 11.45vw;

  @media (max-width: $tablet) and (min-width: $mobile) {
    padding: 3.38vw 4vw;
  }

  @media (max-width: $mobile) {
    padding: 3.38vw 0;

    .app-logo {
      padding-left: 4vw;
    }
  }

  .app-header {
    width: 60vw;

    .app-title {
      font-size: 88px;
      margin-top: 127px;
      position: relative;
    }

    .app-description {
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 321px;
    }

    @media (max-width: $tablet) and (min-width: $mobile) {

      .app-title {
        font-size: 64px;
      }

      .app-description {
        font-size: 16px;
      }
    }

    @media (max-width: $mobile) {

      padding-left: 4vw;

      .app-title {
        font-size: 40px;
      }

      .app-description {
        font-size: 16px;
        margin-bottom: 120px;
      }
    }
  }

  .app-body {
    background-color: $black;
    background-image: url('../assets/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: 43.2% -25%;
    border-radius: 10px;
    display: flex;
    height: 600px;
    width: 77vw;

    @media (max-width: $tablet) and (min-width: $mobile) {
      width: 89vw;
    }

    .illustration-image {
      bottom: 12vw;
      height: 35vw;
      left: 12%;
      position: relative;
      width: 28%;
      z-index: 1;
    }

    .app-body-premium {
      background-color: $red;
      border-radius: 10px;
      color: $white;
      display: flex;
      flex-direction: column;
      height: 572px;
      left: 25%;
      padding: 54px;
      position: relative;
      top: 5vw;
      width: 338px;
      z-index: 2;

      @media(max-width: 1280px) and (min-width: 1050.1px) {
        left: 15%;
      }

      @media(max-width: 1050px) {
        left: -5%;
      }

      .app-body-premium-title {
        font-size: 40px;
        margin: 0 0 22px 0;
      }

      .app-body-premium-description {
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
      }

      .app-body-premium-quantity {
        align-items: center;
        display: flex;
        font-size: 65px;
        gap: 16px;
        margin: 23px 0 46px;

        span {
          font-size: 20px;
          font-weight: 400;
        }
      }

      @mixin buttonPremium($bgcolor, $bgcolorHover, $color) {
        align-items: center;
        background-color: $bgcolor;
        border: none;
        border-radius: 15px;
        color: $color;
        display: flex;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        gap: 8px;
        margin-bottom: 16px;
        padding: 20px 95px;
        transition-duration: 0.3s;
        white-space: nowrap;

        &:hover {
          background-color: $bgcolorHover;
          cursor: pointer;
        }
      }

      .app-body-premium-ios-button {
        @include buttonPremium($black, $aquamarine, $white);
      }

      .app-body-premium-ios-android {
        @include buttonPremium($white, $orange, $black);
      }
    }

    @media (max-width: $mobile) {
      width: 100%;

      .illustration-image {
        bottom: 20vw;
        height: 430px;
        left: 32%;
        width: 208px;
      }

      .app-body-premium {
        left: calc(-220px + 7vw);
        top: 400px;
        width: 100%;
      }
    }
  }

  .app-footer {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: space-between;
    margin-top: 300px;

    .app-footer-logo {
      height: 32px;
      width: 146px;
    }

    .app-footer-logo-secondary {

      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 50vw;

      .app-footer-logo-description {
        width: 366px;
      }

      .app-footer-icons {
        display: flex;
        gap: 25px;
        width: 150px;

        img {
          height: 25px;
          width: 25px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    @media (max-width: $tablet) and (min-width: $mobile) {
      flex-wrap: wrap;

      .app-footer-logo-secondary {
        width: 100vw;
      }
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      justify-content: center;
      margin-top: 550px;
      width: 100%;

      .app-footer-logo-secondary {
        flex-direction: column;
      }
    }
  }
}
