<img class="bg-image" src="../assets/bg-pattern-1.svg" alt="Background-Image">
<div class="app-container">
  <img class="app-logo" src="../assets/logo.svg" alt="Logo">
  <header class="app-header">
    <h1 class="app-title">We make your music sound extraordinary.</h1>
    <h2 class="app-description">A system audio equalizer specifically designed for Android and iOS. Freely tune the
      way your music sounds with a professional grade parametric EQ & volume mixer. Control
      bass, mids, treble, gain control, reverb, and more!
    </h2>
  </header>

  <div class="app-body">
    <img class="illustration-image" src="../assets/illustration-app.png" alt="Illustration">
    <div class="app-body-premium">
      <h1 class="app-body-premium-title">
        Premium EQ
      </h1>
      <h2 class="app-body-premium-description">
        Get expert-level control with a robust equalizer, volume mixer, and spatial audio. Take
        your listening experience to a whole new level and access all our incredible features!
      </h2>
      <h3 class="app-body-premium-quantity">$4<span>/ month</span></h3>
      <button class="app-body-premium-ios-button">
        <img src="../assets/icon-apple.svg" alt="Apple">
        IOS Download
      </button>
      <button class="app-body-premium-ios-android">
        <img src="../assets/icon-android.svg" alt="Android">
        Android Download
      </button>
    </div>
  </div>

  <footer class="app-footer">
    <img class="app-footer-logo" src="../assets/logo.svg" alt="Logo">
    <div class="app-footer-logo-secondary">
      <p class="app-footer-logo-description">
        All rights reserved © Equalizer 2021
        <br>
        Have any problems? Contact us via social media or email us at <strong>equalizer@example.com</strong>
      </p>
      <div class="app-footer-icons">
        <img src="../assets/icon-facebook.svg" alt="Facebook">
        <img src="../assets/icon-instagram.svg" alt="Instagram">
        <img src="../assets/icon-twitter.svg" alt="Twitter">
      </div>
    </div>

  </footer>

</div>
