.button-primary-content {
  background-color: var(--blue-600);
  border: 1px solid transparent;
  border-radius: 12px;
  color: var(--neutral-0);
  padding: 1.6rem 2.4rem;
  transition-duration: 0.25s;
  transition-property: 'background-color';

  &:hover {
    background-color: var(--blue-400);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--neutral-900), 0 0 0 5px var(--blue-400);
  }
}
