@font-face {
  font-family: 'Big Shoulders Display';
  src: url('./assets/fonts/BigShouldersDisplay.ttf') format("opentype");
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit.ttf') format("opentype");
}

body {
  font-family: 'Big Shoulders Display', cursive;
  margin: 0;
}
