<header class="header-container">
  <ul class="header-full">
    <li class="header-logo">
      <img src="assets/logo.svg" alt="Logo" />
    </li>
    <li class="header-item"><button>home</button></li>
    <li class="header-item"><button>shop</button></li>
    <li class="header-item"><button>about</button></li>
    <li class="header-item"><button>contact</button></li>
  </ul>

  <div class="header-responsive">
    <button title="Open Menu" (click)="clickMenu()">
      <img src="assets/icon-hamburger.svg" />
    </button>
    <img class="header-logo" src="assets/logo.svg" alt="Logo" />
  </div>
</header>

@if(menu()) {
<menu class="menu-responsive">
  <ul class="menu-responsive-list">
    <li class="menu-item">
      <button title="Close Menu" (click)="clickMenu()">
        <img src="assets/icon-close.svg" />
      </button>
    </li>
    <li class="menu-item"><button>home</button></li>
    <li class="menu-item"><button>shop</button></li>
    <li class="menu-item"><button>about</button></li>
    <li class="menu-item"><button>contact</button></li>
  </ul>
</menu>
}
