
@font-face {
  font-family: 'Epilogue';
  src: url('./assets/fonts/Epilogue.ttf') format("opentype");
}


html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
}
