.day-button {
  background-color: var(--neutral-600);
  border: none;
  border-radius: 8px;
  color: var(--neutral-0);
  display: flex;
  gap: 1rem;
  padding: 1.35rem 1.6rem;
  width: fit-content;
}

.dropdown-container {
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1.6rem;
  position: absolute;
  right: 13.5rem;
  width: 21.5rem;

  .fieldset-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .input-radio-container {
      border-radius: 8px;
      color: var(--neutral-0);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: 1rem 0.8rem;
      transition-duration: 0.25s;

      &:hover, .active {
        background-color: var(--neutral-700);
      }

      input {
        display: none;
      }

      label {
        cursor: pointer;
      }
    }
  }
}
