<section class="features-container">

  <div class="feature-item">
    <div class="image-anywhere"></div>
    <h4>Access your files, anywhere</h4>
    <p>
      The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.
    </p>
  </div>

  <div class="feature-item">
    <div class="image-security"></div>
    <h4>Security you can trust</h4>
    <p>
      2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.
    </p>
  </div>

  <div class="feature-item">
    <div class="image-collaboration"></div>
    <h4>Real-time collaboration</h4>
    <p>
      Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
    </p>
  </div>

  <div class="feature-item">
    <div class="image-store"></div>
    <h4>Store any type of file</h4>
    <p>
      Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.
    </p>
  </div>

</section>
