// Theme 1

$color1-theme1: oklch(39.92% 0.051 266.25);
$color2-theme1: oklch(29.64% 0.043 267.24);
$color3-theme1: oklch(24.62% 0.04 268.16);

$color4-theme1: oklch(54.94% 0.064 269.99);
$color5-theme1: oklch(42.74% 0.064 268.37);

$color6-theme1: oklch(57.73% 0.184 29.96);
$color7-theme1: oklch(44.28% 0.147 30.17);

$color8-theme1: oklch(91.92% 0.012 67.67);
$color9-theme1: oklch(73.06% 0.026 63.62);

$color10-theme1: oklch(41.24% 0.027 265.59);
$color11-theme1: oklch(100% 0 0);

// Theme 2

$color1-theme2: oklch(92.34% 0 0);
$color2-theme2: oklch(84.95% 0.005 17.26);
$color3-theme2: oklch(94.66% 0 0);

$color4-theme2: oklch(55.47% 0.072 203.42);
$color5-theme2: oklch(44.55% 0.066 203.87);

$color6-theme2:  oklch(59.22% 0.166 45.85);
$color7-theme2: oklch(44.79% 0.123 47.15);

$color8-theme2: oklch(91.86% 0.004 91.45);
$color9-theme2: oklch(70.13% 0.021 76.48);

$color10-theme2: oklch(32.69% 0.017 107.28);
$color11-theme2: oklch(100% 0 0);

// Theme 3

$color1-theme3: oklch(17.28% 0.068 301.38);
$color2-theme3: oklch(20.15% 0.081 300.63);

$color3-theme3: oklch(35.72% 0.174 310.3);
$color4-theme3: oklch(60.18% 0.289 314.28);

$color5-theme3: oklch(81.71% 0.143 186.31);
$color6-theme3: oklch(90.29% 0.122 190.69);

$color7-theme3: oklch(28.74% 0.09 302.63);
$color8-theme3: oklch(46.35% 0.201 320.03);

$color9-theme3: oklch(91.68% 0.1747792189614907 100.03611585510747);
$color10-theme3: oklch(25.23% 0.015 225.88);
$color11-theme3: oklch(100% 0 0);


// Responsive

$breakPoint1: 600px;
$breakPoint2: 450px;
$breakPoint3: 350px;
$breakPoint4: 290px;
