<footer class="footer-container">
  <div class="footer-logo"></div>
  <div class="footer-sections">

    <div class="footer-section-1">
      <div class="footer-icon">
        <img src="../../../assets/icon-location.svg" alt="Location">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
    </div>

    <div class="footer-section-2">
      <div class="footer-icon">
        <img src="../../../assets/icon-phone.svg" alt="Phone">
        <p>
          +1-543-123-4567
        </p>
      </div>

      <div class="footer-icon">
        <img src="../../../assets/icon-email.svg" alt="Location">
        <p>
          {{ 'example@fylo.com' }}
        </p>
      </div>
    </div>

    <div class="footer-section-3">
      <p>About Us</p>
      <p>Contact Us</p>
      <p>Jobs</p>
      <p>Terms</p>
      <p>Press</p>
      <p>Privacy</p>
      <p>Blog</p>
    </div>

    <div class="footer-section-4">
      <app-facebook-icon/>
      <app-twitter-icon/>
      <app-instagram-icon/>
    </div>

  </div>
</footer>
