<section class="portfolio-index-1-container">
  <div class="portfolio-index-1-profile"></div>
  <div class="portfolio-index-1-text">
    <div class="separator"></div>
    <h2>Manage</h2>
    <p class="body-text-1">
      This project required me to build a fully responsive landing page to the designs provided.
      I used HTML5, along with CSS Grid and JavaScript for the areas that required interactivity,
      such as the testimonial slider.
    </p>
    <app-button type="secondary" [routerLink]="'../manage'">VIEW PROJECT</app-button>
    <div class="separator"></div>
  </div>
</section>
