$pad: var(--padding);
$pad2: calc($pad * 3);

.dialog-container {

  background-color: var(--dark-violet);
  padding: $pad $pad2;

  ul {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: bold;
    gap: 3rem;
    list-style: none;
    padding: 0;

    li {
      text-align: center;
      width: 100%;

      hr {
        background-color: var(--grayish-violet);
        height: 1px;
        width: 100%;
      }
    }
  }
}
