<div class="summary-container">
<h1 class="summary-title">Summary</h1>
<section class="reaction-container">
  <div class="image"> <img src="./../../../assets/icon-reaction.svg" alt="Reaction">Reaction</div>
  <div class="quantity">80 <span>/ 100</span></div>
</section>
<section class="memory-container">
  <div class="image"> <img src="./../../../assets/icon-memory.svg" alt="Memory">Memory</div>
  <div class="quantity">92 <span>/ 100</span></div>
</section>
<section class="verbal-container">
  <div class="image"> <img src="./../../../assets/icon-verbal.svg" alt="Verbal">Verbal</div>
  <div class="quantity">61 <span>/ 100</span></div>
</section>
<section class="visual-container">
  <div class="image"> <img src="./../../../assets/icon-visual.svg" alt="Visual">Visual</div>
  <div class="quantity">72 <span>/ 100</span></div>
</section>
<button class="continue-button">Continue</button>
</div>
