.delivering-container {
  background-image: url('/images/bg-pattern-home-4-about-3.svg'),
    url('/images/bg-pattern-home-5.svg');
  background-repeat: no-repeat;
  background-position: 0% 0%, 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 9.2rem;
  padding: 10rem 20rem 15rem;

  @media (width < 1250px) {
    padding: 10rem 10rem 15rem;
  }

  @media (width < 1000px) {
    padding: 10rem;
  }

  @media (width < 700px) {
    padding: 15rem 2rem;
  }

  .h2 {
    color: var(--white);
    text-align: center;

    span {
      color: var(--rapture-blue);
    }
  }

  .delivering-stories {
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;

    @media (width < 1000px) {
      align-items: center;
      flex-direction: column;
      gap: 4rem;
    }

    .delivering-story {
      align-items: center;
      background: url('/images/icon-quotes.svg');
      background-position: calc(50%) 0;
      background-repeat: no-repeat;
      color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding-top: 3.5rem;
      text-align: center;
      width: 30%;

      @media (width < 1000px) {
        width: 100%;
      }

      h4 {
        color: var(--rapture-blue);
      }

      span {
        font-size: 1.3rem;
        font-style: italic;
      }

      img {
        border: 1px solid #c4fffe;
        border-radius: 50%;
        width: 6rem;
      }
    }
  }
}
