@import 'variables';

.portfolio-bookmark-1-container {
  $padding: var(--padding);

  height: 60rem;
  margin: 0 calc($padding*2) calc($padding*2) calc($padding*2);

  @media(width < $breakpoint1) {
    gap: 5rem;
  }

  @media(width < $breakpoint2) {
    background-image: url('/images/portfolio/mobile/image-portfolio-bookmark.jpg');
    flex-direction: column;
    height: 50rem;
  }

  @media(width < $breakpoint3) {
    height: 40rem;
  }

  .portfolio-bookmark-1-image {
    background-image: url('/images/portfolio/desktop/image-portfolio-bookmark.jpg');
    background-size: 100% 100%;
    height: 100%;
    width: 100%;

    @media(width < $breakpoint2) {
      background-image: url('/images/portfolio/mobile/image-portfolio-bookmark.jpg');
    }
  }

}
