$moderateBlue: oklch(50.38% 0.147 278.25);
$softRed: oklch(67.52% 0.17 20.82);
$lightGrayishBlue: oklch(83.29% 0.06 284.26);
$paleRed: oklch(84.86% 0.083 15.65);
$darkBlue: oklch(37.05% 0.035 252.12);
$grayishBlue: oklch(54.82% 0.023 250.02);
$lightGray: oklch(94.2% 0.007 268.74);
$veryLightGray: oklch(97.3% 0.005 274.97);
$white: oklch(100% 0 0);

$mobile: 600px;
$tablet: 900px;
$desktop: 1440px;
